<ion-content padding class="contentMarginTop">
  <div class="col10">
    <ion-card>
      <ion-row>
        <ion-card-header class="fullWidth graphHeaderStyleRed fontColor-dark posRelative">
          Reconciliation Report
          
          <div class="fontColor-grey btnStyle4 paddingZero marginZero" (click)="print()">
            <ion-icon name="md-print"></ion-icon>
          </div>
          
          <div class="fontColor-grey btnStyle3 paddingZero marginZero" style="transform: scale(-1, 1);" (click)="Viewlanding()">
            <ion-icon name="ios-redo"></ion-icon>
          </div>

          <!--<button ion-button class="bgColor-grey fontColor-white btnStyle1" (click)="print()">Print Page</button>-->
        </ion-card-header>
        <ion-item>
          <ion-searchbar type="text" #filter (keyup)="0" placeholder="Search by Location,Loaded Time"></ion-searchbar>
        </ion-item>
      </ion-row>
      <ion-grid>

        <ion-item class="bgColor-lightGrey">
          <ion-row>
            <ion-col col-1>No</ion-col>
            <ion-col col-2>Location</ion-col>
            <ion-col col-1>Loaded Qty</ion-col>
            <ion-col col-2>Loaded Time</ion-col>
            <ion-col col-1>Unloaded Qty</ion-col>
            <ion-col col-2>Unloaded Time</ion-col>
            <ion-col col-1>Factory</ion-col>
            <ion-col col-1>Status</ion-col>
            <ion-col col-1>Action</ion-col>
          </ion-row>
        </ion-item>

        <ion-item>
          <ion-row *ngFor="let item_ReconciliationReport of (item_ReconciliationReports | filterData: filter.value : 'name');let i = index">
            <ion-col col-1>
              <ion-badge class="bgColor-grey" item-start>{{ i + 1 }}</ion-badge>
            </ion-col>
            <ion-col col-2>{{item_ReconciliationReport.Location}}</ion-col>
            <ion-col col-1>{{item_ReconciliationReport.load_count}}</ion-col>
            <ion-col col-2>{{item_ReconciliationReport.bunch_ts}}</ion-col>
            <ion-col col-1>{{item_ReconciliationReport.unload_count}}</ion-col>
            <ion-col col-2>{{item_ReconciliationReport.unbunch_ts}}</ion-col>
            <ion-col col-1>N/A</ion-col>

            <ion-col col-1 *ngIf="item_ReconciliationReport.resolved==null">
              <ion-icon name="ios-checkmark-circle" class="fontColor-red reconStatus"></ion-icon>
            </ion-col>
            <ion-col col-1 *ngIf="item_ReconciliationReport.resolved==0">
              <ion-icon name="ios-checkmark-circle" class="fontColor-red reconStatus"></ion-icon>
            </ion-col>
            <ion-col col-1 *ngIf="item_ReconciliationReport.resolved==1">
              <ion-icon name="ios-checkmark-circle" class="fontColor-yellow reconStatus"></ion-icon>
            </ion-col>
            <ion-col col-1 *ngIf="item_ReconciliationReport.resolved==2">
              <ion-icon name="ios-checkmark-circle" class="fontColor-red reconStatus"></ion-icon>
            </ion-col>
            <ion-col col-1>
              <ion-icon name="create" class="reconStatus fontColor-grey" (click)="UpdateInfo(item_ReconciliationReport)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>

      </ion-grid>
    </ion-card>
  </div>
</ion-content>