page-role {

}
page-role .content-md {
    background-color: #f6f6f6 !important;
}

page-role .pgTitle {
    margin-bottom: 10px;
}
page-role .col1 {float: left;width: 10%;}
page-role .col2 {float: left;width: 20%;}
page-role .col3 {float: left;width: 30%;}
page-role .col4 {float: left;width: 40%;}
page-role .col5 {float: left;width: 50%;}
page-role .col6 {float: left;width: 60%;}
page-role .col7 {float: left;width: 70%;}
page-role .col8 {float: left;width: 80%;}
page-role .col9 {float: left;width: 90%;}
page-role .col100 {float: left;width: 100%;}

page-role .cb1 {width: calc(10% - 20px);float:left; margin:10px !important;}
page-role .cb2 {width: calc(20% - 20px);float:left; margin:10px !important;}
page-role .cb3 {width: calc(30% - 20px);float:left; margin:10px !important;}
page-role .cb4 {width: calc(40% - 20px);float:left; margin:10px !important;}
page-role .cb5 {width: calc(50% - 20px);float:left; margin:10px !important;}
page-role .cb6 {width: calc(60% - 20px);float:left; margin:10px !important;}
page-role .cb7 {width: calc(70% - 20px);float:left; margin:10px !important;}
page-role .cb8 {width: calc(80% - 20px);float:left; margin:10px !important;}
page-role .cb9 {width: calc(90% - 20px);float:left; margin:10px !important;}
page-role .cb10 {width: calc(100% - 20px);float:left; margin:10px !important;}

page-role .bgColor-black {background: #e4e4e4;}
page-role .bgColor-lightblue {background: #a6bed2;}
page-role .bgColor-red {background: #ff6b6b; color: #fff;}
page-role .bgColor-purple {background: #9c27b0; color: #fff;}
page-role .bgColor-green {background: #45b7af; color: #fff;}
page-role .bgColor-grey {background: #9aa8b3;border-color:  #adadad;}
page-role .bgColor-yellow {background: #f8cb00; color: #fff;}
page-role .bgColor-blue {background: #65c3df; color: #fff;}

page-role .fontColor-white {color: #fff !important;}
page-role .fontColor-red {color: #ff6b6b !important;}
page-role .fontColor-green {color: #45b7af !important;}
page-role .fontColor-yellow {color: #f8cb00 !important;}

page-role .fullHeight {height: 100%;}
page-role .fullWidth {height: 100%;}

page-role .posFixed {position: fixed;}
page-role .posRelative {position: relative;}
page-role .posAbsolute {position: absolute;}

page-role .floatRight {float: right !important;}
page-role .floatLeft {float: left !important;}

page-role .leftZero {left: 0;}
page-role .topZero {top: 0;}
page-role .rightZero {right: 0;}
page-role .bottomZero {bottom: 0;}

page-role .headerColor-lightred {background: #fe8660 !important; border-color: #da572d !important; color: white !important;}
page-role .headerColor-lightblue {background: #56bdde !important; border-color: #2583a0 !important; color: white !important;}
page-role .headerColor-lightpurple {background: #c21fde !important; border-color: #7350af !important; color: white !important;}
page-role .headerColor-lightgreen {background: #6dc9be !important; border-color: #2b9286 !important; color: white !important;}
page-role .headerColor-green {background: #8bc34a !important; border-color: #4caf50 !important; color: white !important;}
page-role .headerColor-white {background: #ffffff !important; border-color: #e8e8e8 !important; color: #a5a3a3 !important;}

page-role .icTitle {border-bottom: 1px solid;margin-bottom: 10px;padding: 10px !important;}

page-role .icHeaderIcon {height: 100%;padding: 10px;}

page-role .icHeaderText {margin-left: 40px; font-size: 15px;}

page-role .btnStyle1 {box-shadow: none;border: 1px solid;border-radius: 3px;font-size: 13px;}

page-role .infoLabel {
    width: 85px;
    padding: 2px 0 2px 12px;
    border-radius: 15px 0 0 15px;
    font-size: 12px;
    font-weight: 100;
}

page-role .infoText {
    margin-left: 84px;
    border-left: 1px solid #d8d8d8;
    padding-left: 10px;
    padding-bottom: 15px;
}

page-role .editInput {
    border-left: 2px solid #d16ae2 !important;
    padding-left: 5px !important;
    font-size: 14px !important;
}

page-role .tnUser {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    min-width: 60px !important;
    min-height: 60px !important;   
}
page-role .item-md ion-thumbnail {
    min-width: 60px !important;
    min-height: 60px !important;
}
page-role .tnUserRow {
    border-bottom: 2px solid #efefef;
}

page-role .cardBox {
    border-radius: 5px !important;
    border: 1px solid #b1cbe0 !important;
    box-shadow: none !important;
}

