page-driver .content-md {
    background-color: #edf2f6 !important;
}

page-driver .pgTitle {
    margin-bottom: 10px;
}
page-driver .col1 {float: left;width: 10%;}
page-driver .col2 {float: left;width: 20%;}
page-driver .col3 {float: left;width: 30%;}
page-driver .col4 {float: left;width: 40%;}
page-driver .col5 {float: left;width: 50%;}
page-driver .col6 {float: left;width: 60%;}
page-driver .col7 {float: left;width: 70%;}
page-driver .col8 {float: left;width: 80%;}
page-driver .col9 {float: left;width: 90%;}
page-driver .col100 {float: left;width: 100%;}

page-driver .cb1 {width: calc(10% - 20px);float:left; margin:10px !important;}
page-driver .cb2 {width: calc(20% - 20px);float:left; margin:10px !important;}
page-driver .cb3 {width: calc(30% - 20px);float:left; margin:10px !important;}
page-driver .cb4 {width: calc(40% - 20px);float:left; margin:10px !important;}
page-driver .cb5 {width: calc(50% - 20px);float:left; margin:10px !important;}
page-driver .cb6 {width: calc(60% - 20px);float:left; margin:10px !important;}
page-driver .cb7 {width: calc(70% - 20px);float:left; margin:10px !important;}
page-driver .cb8 {width: calc(80% - 20px);float:left; margin:10px !important;}
page-driver .cb9 {width: calc(90% - 20px);float:left; margin:10px !important;}
page-driver .cb10 {width: calc(100% - 20px);float:left; margin:10px !important;}

page-driver .bgColor-black {background: #e4e4e4;}
page-driver .bgColor-lightblue {background: #a6bed2;}
page-driver .bgColor-red {background: #f53d3d;}
page-driver .bgColor-purple {background: #9c27b0;}
page-driver .bgColor-green {background: #4caf50;}

page-driver .fullHeight {height: 100%;}
page-driver .fullWidth {height: 100%;}

page-driver .posFixed {position: fixed;}
page-driver .posRelative {position: relative;}
page-driver .posAbsolute {position: absolute;}

page-driver .floatRight {float: right !important;}
page-driver .floatLef {height: left !important;}

page-driver .leftZero {left: 0;}
page-driver .topZero {top: 0;}
page-driver .rightZero {right: 0;}
page-driver .bottomZero {bottom: 0;}

page-driver .headerColor-lightred {background: #fe8660 !important; border-color: #da572d !important; color: white !important;}
page-driver .headerColor-lightblue {background: #56bdde !important; border-color: #2583a0 !important; color: white !important;}
page-driver .headerColor-lightpurple {background: #b198dc !important; border-color: #7350af !important; color: white !important;}
page-driver .headerColor-lightgreen {background: #6dc9be !important; border-color: #2b9286 !important; color: white !important;}
page-driver .headerColor-green {background: #8bc34a !important; border-color: #4caf50 !important; color: white !important;}

page-driver .icTitle {border-bottom: 2px solid;margin-bottom: 10px;}

page-driver .icHeaderIcon {height: 100%;padding: 15px;}

page-driver .icHeaderText {margin-left: 40px;}


page-driver .tnUser {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    min-width: 60px !important;
    min-height: 60px !important;   
}
page-driver .item-md ion-thumbnail {
    min-width: 60px !important;
    min-height: 60px !important;
}
page-driver .tnUserRow {
    border-bottom: 2px solid #efefef;
}

page-driver .cardBox {
    border-radius: 5px !important;
    border: 1px solid #b1cbe0 !important;
    box-shadow: none !important;
}
