<ion-content padding class="posRelative contentMarginTop">

  <!--form start-->
  <div class="col2">
    <button class="btnColor-purple cb10 posRelative portletStyle2" full (click)="locationRegisterClick()">
      <ion-icon name="ios-pin" class="portletIconStyle2 posAbsolute leftZero topZero bgColor-purple" item-start></ion-icon>
      <div class="portletColStyle2">
        <div class="portletHeaderStyle2">{{"REGISTER_NEW_LOCATION" | translate}}</div>
      </div>
    </button>

    <ion-card class="cb10">
      <ion-row>

        <ion-card-header class="fullWidth graphHeaderStylePurple fontColor-dark">
          {{"TOTAL_LOCATION" | translate}}
        </ion-card-header>
      </ion-row>
      <ion-card-content>
        <div class="graphContentStyle2 fontColor-purple">127</div>
        <ion-item class="fontColor-grey">
          {{"ACTIVE" | translate}}
          <ion-badge item-end class="bgColor-green">109</ion-badge>
        </ion-item>
        <div class="percentBar fullWidth">
          <div class="percentBarValue bgColor-green" style="width: calc(100% * (109 / 127))"></div>
        </div>
        <ion-item class="fontColor-grey">
          {{"INACTIVE" | translate}}
          <ion-badge item-end class="bgColor-red">18</ion-badge>
        </ion-item>
        <div class="percentBar fullWidth">
          <div class="percentBarValue bgColor-red" style="width: calc(100% * (18 / 127))"></div>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
  <!--form end-->

  <!--listing start-->
  <div class="col4">

    <ion-card class="cb10">

      <ion-row>
        <ion-card-header class="fullWidth graphHeaderStylePurple fontColor-dark">
          {{"LOCATION" | translate}}
        </ion-card-header>
      </ion-row>

      <ion-row>
        <ion-searchbar></ion-searchbar>
      </ion-row>

      <ion-list>
        <ion-item *ngFor="let location of locations" class="tnUserRow">
          <ion-toggle checked="true" color="secondary" item-start></ion-toggle>
          <ion-label class="fontColor-dark">{{location.name}}</ion-label>
          <button ion-button color="sunny" item-end class=" btnStyle1 bgColor-yellow" (click)="View(location.location_GUID)"><ion-icon name="md-eye"></ion-icon></button>
          <button ion-button color="primary" item-end class=" btnStyle1 bgColor-blue" (click)="locationEditClick(location.location_GUID)"><ion-icon name="ios-create"></ion-icon></button>
          <button ion-button color="danger" item-end class=" btnStyle1 bgColor-red"><ion-icon name="md-close"></ion-icon></button>
        </ion-item>
      </ion-list>

    </ion-card>

  </div>
  <!--listing end-->

  <!--vehicle listing start-->
  <div class="col4">
    <ion-card class="cb10">

      <ion-card-header class="fullWidth posRelative bgColor-darkBlue">
        {{location.name}}
        <button class="posAbsolute fullHeight topZero rightZero btnStyle2 bgColor-darkBlue" (click)="addVehicleClick()">
        <ion-icon name="md-add"></ion-icon> 
      </button>
      </ion-card-header>

      <ion-row>
        <ion-searchbar></ion-searchbar>
      </ion-row>

      <ion-list>
        <ion-item>
          <ion-label>option 1</ion-label>
          <ion-icon name="ios-checkmark-circle" item-end class="fontColor-green"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>option 2</ion-label>
          <ion-icon name="ios-close-circle" item-end class="fontColor-red"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>option 3</ion-label>
          <ion-icon name="ios-checkmark-circle" item-end class="fontColor-green"></ion-icon>
        </ion-item>
      </ion-list>

    </ion-card>
    <!--</form>-->
  </div>
  <!--vehicle listing end-->

  <!--edit form start-->
  <div padding class="fb10 posFixed popupFormCol bgColor-blackOpa fullHeight" *ngIf="locationEditClicked">

    <ion-card class="fb4 marginCenter popupFormCard">

      <ion-card-header class="icTitle headerColor-white posRelative">
        <ion-icon name="ios-add-circle-outline" class="icHeaderIcon posAbsolute leftZero topZero" item-end></ion-icon>
        <div class="icHeaderText">{{"UPDATE_LOCATION" | translate}}</div>
        <button class="posAbsolute fullHeight bgColor-red topZero rightZero btnStyle2" (click)="locationEditClick()">
        <ion-icon name="md-close"></ion-icon> 
      </button>
      </ion-card-header>

      <ion-list class="overflowTrue contentHeight">
        <ion-item>
          <ion-label class="fontColor-green" stacked>{{"LOCATION" | translate}}</ion-label>
          <ion-input type="text" class="editInput" placeholder="Location name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="fontColor-green" stacked>{{"STATE" | translate}}</ion-label>
          <ion-select [(ngModel)]="State" interface="popover" class="editInput" placeholder="Select State">
            <ion-option value="Johor">Johor</ion-option>
            <ion-option value="Kedah">Kedah</ion-option>
            <ion-option value="Kelantan">Kelantan</ion-option>
            <ion-option value="Melaka">Melaka</ion-option>
            <ion-option value="NegeriSembilan">Negeri Sembilan</ion-option>
            <ion-option value="Pahang">Pahang</ion-option>
            <ion-option value="Penang">Penang</ion-option>
            <ion-option value="Perak">Perak</ion-option>
            <ion-option value="Perlis">Perlis</ion-option>
            <ion-option value="Sabah">Sabah</ion-option>
            <ion-option value="Sarawak">Sarawak</ion-option>
            <ion-option value="Selangor">Selangor</ion-option>
            <ion-option value="Terengganu">Terengganu</ion-option>
            <ion-option value="kualaLumpur">Kuala Lumpur</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label class="fontColor-yellow">{{"ACTIVE" | translate}}</ion-label>
          <ion-toggle checked="false" color="secondary"></ion-toggle>
        </ion-item>
      </ion-list>

      <ion-card-content>
        <button ion-button full class="bgColor-grey fontColor-white btnStyle1">{{"REGISTER" | translate}}</button>
      </ion-card-content>
    </ion-card>
  </div>
  <!--edit form end-->

  <!--register form start-->
  <div padding class="fb10 posFixed popupFormCol bgColor-blackOpa fullHeight" *ngIf="locationRegisterClicked">
    <form [formGroup]="Locationform">
      <ion-card class="fb4 marginCenter popupFormCard">
        <ion-card-header class="icTitle headerColor-white posRelative">
          <ion-icon name="ios-add-circle-outline" class="icHeaderIcon posAbsolute leftZero topZero" item-end></ion-icon>
          <div class="icHeaderText">{{"REGISTER_NEW_LOCATION" | translate}}</div>
          <button class="posAbsolute fullHeight bgColor-red topZero rightZero btnStyle2" (click)="locationRegisterClick()">
        <ion-icon name="md-close"></ion-icon> 
      </button>
        </ion-card-header>

        <ion-list class="overflowTrue contentHeight">
          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"LOCATION" | translate}}</ion-label>
            <ion-input type="text" class="editInput" formControlName="locationname" [(ngModel)]="location_entry.name" placeholder="Location name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="fontColor-yellow">{{"ACTIVE" | translate}}</ion-label>
            <ion-toggle color="secondary" formControlName="locationactive" [(ngModel)]="location_entry.active"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-item>
          <button ion-button full class="bgColor-grey fontColor-white btnStyle1" (click)="RegisterLocation()">{{"REGISTER" | translate}}</button>
        </ion-item>
      </ion-card>
    </form>
  </div>
  <!--registerform end-->


  <!--add Vehicle form start-->
  <div padding class="fb10 posFixed popupFormCol bgColor-blackOpa fullHeight" *ngIf="addVehicleClicked">

    <ion-card class="fb6 marginCenter popupFormCard">

      <ion-card-header class="icTitle headerColor-white posRelative">
        <ion-icon name="ios-add-circle-outline" class="icHeaderIcon posAbsolute leftZero topZero" item-end></ion-icon>
        <div class="icHeaderText">{{"REGISTER_NEW_VEHICLE" | translate}} (<b>Putrajaya</b>)</div>
        <button class="posAbsolute fullHeight bgColor-red topZero rightZero btnStyle2" (click)="addVehicleClick()">
        <ion-icon name="md-close"></ion-icon> 
      </button>
      </ion-card-header>

      <ion-card class="cb5 contentHeight3">

        <ion-row>
          <ion-item class="bgColor-lightGrey posRelative">
            <ion-label item-start>{{"AVAILABLE_VEHICLE" | translate}}</ion-label>
            <button item-end ion-button color="primary" class="posAbsolute fullHeight topZero rightZero btnStyle2 marginZero"><ion-icon name="ios-arrow-forward"></ion-icon> </button>
          </ion-item>
        </ion-row>

        <div class="contentHeight3 overflowTrue">
          <ion-list>
            <ion-item>
              <ion-label>EEE 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-label>EEE 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-label>EEE 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-label>EEE 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-label>EEE 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-label>EEE 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-label>EEE 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-label>EEE 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-label>EEE 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-label>EEE 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-label>EEE 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>
          </ion-list>
        </div>
      </ion-card>
      <ion-card class="cb5 contentHeight3">

        <ion-row>
          <ion-item class="bgColor-lightGrey posRelative">
            <button item-start ion-button color="primary" class="posAbsolute fullHeight topZero leftZero btnStyle2 marginZero"><ion-icon name="ios-arrow-back"></ion-icon> </button>
            <ion-label class="textAllignRight">{{"SELECTED_VEHICLE" | translate}}</ion-label>
          </ion-item>
        </ion-row>

        <div class="contentHeight3 overflowTrue">
          <ion-list>
            <ion-item>
              <ion-label>ABC 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-label>ABC 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-label>ABC 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-label>ABC 1234</ion-label>
              <ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>
            </ion-item>

          </ion-list>
        </div>

      </ion-card>
    </ion-card>
  </div>
  <!--add Vehicle form end-->

</ion-content>