<ion-content padding class="posRelative contentMarginTop">

  <!--form start-->
  <div class="col2">
    <button class="btnColor-green cb10 posRelative portletStyle2" full (click)="locationRegisterClick()">
      <ion-icon name="md-add-circle" class="portletIconStyle2 posAbsolute leftZero topZero bgColor-green" item-start></ion-icon>
      <div class="portletColStyle2">
        <div class="portletHeaderStyle2">{{"REGISTER_NEW_LOCATION" | translate}}</div>
      </div>
    </button>

    <ion-card class="cb10">
      <ion-row>

        <ion-card-header class="fullWidth graphHeaderStyleGreen fontColor-dark">
          {{"TOTAL_LOCATION" | translate}}
        </ion-card-header>
      </ion-row>
      <ion-card-content>
        <div class="graphContentStyle2 fontColor-grey">127</div>
        <div *ngFor="let valUser of activeValue">
          <ion-item class="fontColor-grey">
            {{valUser.Title}}
            <ion-badge item-end class="bgColor-red">{{valUser.ActiveTotal}}</ion-badge>
          </ion-item>
          <div class="percentBar fullWidth">
            <div class="percentBarValue" [ngStyle]="{ width: 'calc(100% * ' + valUser.ActiveTotal + ' / 3)', background: + valUser.bgColor}"></div>
          </div>
        </div>

      </ion-card-content>
    </ion-card>

  </div>
  <!--form end-->

  <!--listing start-->
  <div class="col5">

    <ion-card class="cb10">

      <ion-row>
        <ion-card-header class="fullWidth graphHeaderStyleGreen fontColor-dark">
          {{"LOCATION" | translate}}
        </ion-card-header>
      </ion-row>

      <ion-row>

        <ion-searchbar type="text" #filter (keyup)="0" placeholder="Search by Location Name"></ion-searchbar>

      </ion-row>

      <ion-list>
        <ion-item *ngFor="let location of (locations| filtervehicle: filter.value : 'name');let i = index" class="tnUserRow">

          <ion-toggle *ngIf="location.active==0" checked="false" color="secondary" item-start (ionChange)="Deactive_Location(location)"></ion-toggle>
          <ion-toggle *ngIf="location.active==null" checked="false" color="secondary" item-start (ionChange)="Deactive_Location(location)"></ion-toggle>
          <ion-toggle *ngIf="location.active==1" checked="true" color="secondary" (ionChange)="Deactive_Location(location)" item-start></ion-toggle>

          <ion-label class="fontColor-dark">{{location.name}}</ion-label>
          <button ion-button color="sunny" item-end class=" btnStyle1 bgColor-yellow" (click)="View(location.location_GUID,i)"><ion-icon name="md-eye"></ion-icon></button>

          <button ion-button color="primary" item-end class=" btnStyle1 bgColor-blue" (click)="locationEditClick(location)"><ion-icon name="ios-create"></ion-icon></button>
          <!--<button ion-button color="danger" item-end class=" btnStyle1 bgColor-red"><ion-icon name="md-close"></ion-icon></button>-->

        </ion-item>
      </ion-list>

    </ion-card>

  </div>
  <!--listing end-->

  <!--vehicle listing start-->
  <div class="col3">
    <ion-card class="cb10">

      <ion-card-header class="fullWidth posRelative bgColor-darkBlue">
        {{location.name}}
        <button class="posAbsolute fullHeight topZero rightZero btnStyle2 bgColor-darkBlue" (click)="addVehicleClick()">
        <ion-icon name="md-add"></ion-icon> 
      </button>
      </ion-card-header>

      <ion-row>
        <ion-searchbar placeholder="{{'SEARCH' | translate}}"></ion-searchbar>
      </ion-row>

      <ion-list>
        <ion-item *ngFor="let get_selectvehicle of get_selectvehicles">
          <ion-label>{{get_selectvehicle.registration_no}}</ion-label>
          <ion-icon name="ios-checkmark-circle" item-end class="fontColor-green"></ion-icon>
        </ion-item>
      </ion-list>

    </ion-card>
    <!--</form>-->
  </div>
  <!--vehicle listing end-->

  <!--edit form start-->
  <div padding class="fb10 posFixed popupFormCol bgColor-blackOpa fullHeight" *ngIf="locationEditClicked">

    <ion-card class="fb4 marginCenter popupFormCard">

      <ion-card-header class="icTitle headerColor-white posRelative">
        <ion-icon name="ios-add-circle-outline" class="icHeaderIcon posAbsolute leftZero topZero" item-end></ion-icon>
        <div class="icHeaderText">{{"UPDATE_LOCATION" | translate}}</div>
        <button class="posAbsolute fullHeight bgColor-red topZero rightZero btnStyle2" (click)="locationEditClose()">
        <ion-icon name="md-close"></ion-icon> 
      </button>
      </ion-card-header>

      <ion-list class="overflowTrue contentHeight">
        <form [formGroup]="EditLocationform">
          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"LOCATION" | translate}}</ion-label>
            <ion-input type="text" formControlName="locationname" [(ngModel)]="location_entry_edit.name" class="editInput" placeholder="Location name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-yellow">{{"ACTIVE" | translate}}</ion-label>
            <ion-toggle formControlName="locationactive" [(ngModel)]="location_entry_edit.active" color="secondary"></ion-toggle>
          </ion-item>
        </form>
      </ion-list>

      <ion-card-content>
        <button ion-button full class="bgColor-grey fontColor-white btnStyle1" (click)="Updateinfo()">{{"UPDATE_LOCATION" | translate}}</button>
      </ion-card-content>
    </ion-card>
  </div>
  <!--edit form end-->

  <!--register form start-->
  <div padding class="fb10 posFixed popupFormCol bgColor-blackOpa fullHeight" *ngIf="locationRegisterClicked">
    <form [formGroup]="Locationform">
      <ion-card class="fb4 marginCenter popupFormCard">
        <ion-card-header class="icTitle headerColor-white posRelative">
          <ion-icon name="ios-add-circle-outline" class="icHeaderIcon posAbsolute leftZero topZero" item-end></ion-icon>
          <div class="icHeaderText">{{"REGISTER_NEW_LOCATION" | translate}}</div>
          <button class="posAbsolute fullHeight bgColor-red topZero rightZero btnStyle2" (click)="locationRegisterClick()">
        <ion-icon name="md-close"></ion-icon> 
      </button>
        </ion-card-header>

        <ion-list class="overflowTrue contentHeight">
          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"LOCATION" | translate}}</ion-label>
            <ion-input type="text" class="editInput" formControlName="locationname" [(ngModel)]="location_entry.name" placeholder="{{'FORM_LOCATION_NAME' | translate}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="fontColor-yellow">{{"ACTIVE" | translate}}</ion-label>
            <ion-toggle color="secondary" formControlName="locationactive" [(ngModel)]="location_entry.active"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-item>
          <button ion-button full class="bgColor-grey fontColor-white btnStyle1" (click)="RegisterLocation()">{{"REGISTER" | translate}}</button>
        </ion-item>
      </ion-card>
    </form>
  </div>
  <!--registerform end-->


  <!--add Vehicle form start-->
  <div padding class="fb10 posFixed popupFormCol bgColor-blackOpa fullHeight" *ngIf="addVehicleClicked">

    <ion-card class="fb6 marginCenter popupFormCard">

      <ion-card-header class="icTitle headerColor-white posRelative">
        <ion-icon name="ios-add-circle-outline" class="icHeaderIcon posAbsolute leftZero topZero" item-end></ion-icon>
        <div class="icHeaderText">{{"REGISTER_NEW_VEHICLE" | translate}} (<b>Putrajaya</b>)</div>
        <button class="posAbsolute fullHeight bgColor-red topZero rightZero btnStyle2" (click)="addVehicleClick()">
        <ion-icon name="md-close"></ion-icon> 
      </button>
      </ion-card-header>

      <ion-card class="cb5 contentHeight3">

        <ion-row>
          <ion-item class="bgColor-lightGrey posRelative">
            <ion-label item-start>{{"AVAILABLE_VEHICLE" | translate}}</ion-label>
            <button item-end ion-button color="primary" class="posAbsolute fullHeight topZero rightZero btnStyle2 marginZero"><ion-icon name="ios-arrow-forward"></ion-icon> </button>
          </ion-item>
        </ion-row>

        <div class="contentHeight3 overflowTrue">
          <ion-list>
            <ion-item *ngFor="let getvehicle of getvehicles">
              <ion-label>{{getvehicle.registration_no}}</ion-label>
              <!--<ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>-->
              <ion-checkbox color="secondary" checked="false" (ionChange)="AvailableSelection($event,getvehicle)" item-end></ion-checkbox>
            </ion-item>
          </ion-list>
        </div>
      </ion-card>
      <ion-card class="cb5 contentHeight3">

        <ion-row>
          <ion-item class="bgColor-lightGrey posRelative">
            <button item-start ion-button color="primary" class="posAbsolute fullHeight topZero leftZero btnStyle2 marginZero"><ion-icon name="ios-arrow-back"></ion-icon> </button>
            <ion-label class="textAllignRight">{{"SELECTED_VEHICLE" | translate}}</ion-label>
          </ion-item>
        </ion-row>

        <div class="contentHeight3 overflowTrue">
          <ion-list>
            <ion-item *ngFor="let get_selectvehicle of get_selectvehicles">
              <ion-label>{{get_selectvehicle.registration_no}}</ion-label>
              <!--<ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>-->
              <ion-checkbox color="secondary" checked="false" (ionChange)="RemoveSelection($event,get_selectvehicle)" item-end></ion-checkbox>

            </ion-item>
          </ion-list>
        </div>

      </ion-card>
    </ion-card>
  </div>
  <!--add Vehicle form end-->

</ion-content>