page-location {

}
page-location .content-md {
    background-color: #edf2f6 !important;
}

page-location .pgTitle {
    margin-bottom: 10px;
}
page-location .col1 {float: left;width: 10%;}
page-location .col2 {float: left;width: 20%;}
page-location .col3 {float: left;width: 30%;}
page-location .col4 {float: left;width: 40%;}
page-location .col5 {float: left;width: 50%;}
page-location .col6 {float: left;width: 60%;}
page-location .col7 {float: left;width: 70%;}
page-location .col8 {float: left;width: 80%;}
page-location .col9 {float: left;width: 90%;}
page-location .col100 {float: left;width: 100%;}

page-location .cb1 {width: calc(10% - 20px);float:left; margin:10px !important;}
page-location .cb2 {width: calc(20% - 20px);float:left; margin:10px !important;}
page-location .cb3 {width: calc(30% - 20px);float:left; margin:10px !important;}
page-location .cb4 {width: calc(40% - 20px);float:left; margin:10px !important;}
page-location .cb5 {width: calc(50% - 20px);float:left; margin:10px !important;}
page-location .cb6 {width: calc(60% - 20px);float:left; margin:10px !important;}
page-location .cb7 {width: calc(70% - 20px);float:left; margin:10px !important;}
page-location .cb8 {width: calc(80% - 20px);float:left; margin:10px !important;}
page-location .cb9 {width: calc(90% - 20px);float:left; margin:10px !important;}
page-location .cb10 {width: calc(100% - 20px);float:left; margin:10px !important;}

page-location .bgColor-black {background: #e4e4e4;}
page-location .bgColor-lightblue {background: #a6bed2;}
page-location .bgColor-red {background: #f53d3d;}
page-location .bgColor-purple {background: #9c27b0;}
page-location .bgColor-green {background: #4caf50;}

page-location .fullHeight {height: 100%;}
page-location .fullWidth {height: 100%;}

page-location .posFixed {position: fixed;}
page-location .posRelative {position: relative;}
page-location .posAbsolute {position: absolute;}

page-location .floatRight {float: right !important;}
page-location .floatLef {height: left !important;}

page-location .leftZero {left: 0;}
page-location .topZero {top: 0;}
page-location .rightZero {right: 0;}
page-location .bottomZero {bottom: 0;}

page-location .headerColor-lightred {background: #fe8660 !important; border-color: #da572d !important; color: white !important;}
page-location .headerColor-lightblue {background: #56bdde !important; border-color: #2583a0 !important; color: white !important;}
page-location .headerColor-lightpurple {background: #b198dc !important; border-color: #7350af !important; color: white !important;}
page-location .headerColor-lightgreen {background: #6dc9be !important; border-color: #2b9286 !important; color: white !important;}
page-location .headerColor-green {background: #8bc34a !important; border-color: #4caf50 !important; color: white !important;}

page-location .icTitle {border-bottom: 2px solid;margin-bottom: 10px;}

page-location .icHeaderIcon {height: 100%;padding: 15px;}

page-location .icHeaderText {margin-left: 40px;}

page-location .tnUser {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    min-width: 60px !important;
    min-height: 60px !important;   
}
page-location .item-md ion-thumbnail {
    min-width: 60px !important;
    min-height: 60px !important;
}
page-location .tnUserRow {
    border-bottom: 2px solid #efefef;
}

page-location .cardBox {
    border-radius: 5px !important;
    border: 1px solid #b1cbe0 !important;
    box-shadow: none !important;
}
