<ion-content padding class="posRelative contentMarginTop">
  <!--form start-->
  <!-- <div class="col2">

    <ion-card class="cb10">
      <ion-row>

        <ion-card-header class="fullWidth graphHeaderStyleGreen fontColor-dark">
          {{"TOTAL_IMEI" | translate}}
        </ion-card-header>
      </ion-row>
      <ion-card-content>
        <div class="graphContentStyle2 fontColor-grey">{{user_imeis.count}}</div>
        <div *ngFor="let valUser of activeValue">
          <ion-item class="fontColor-grey">
            {{valUser.Title}}
            <ion-badge item-end class="bgColor-red">{{valUser.ActiveTotal}}</ion-badge>
          </ion-item>
          <div class="percentBar fullWidth">
            <div class="percentBarValue" [ngStyle]="{ width: 'calc(100% * ' + valUser.ActiveTotal + ' / 3)', background: + valUser.bgColor}"></div>
          </div>
        </div>

      </ion-card-content>
    </ion-card>

  </div> -->
  <!--form end-->

  <!--listing start-->
  <div class="col7">

    <ion-card class="cb10">


      <ion-row>
        <ion-card-header class="fullWidth graphHeaderStyleGreen fontColor-dark">
          {{"PHONE_UUID" | translate}}
        </ion-card-header>
      </ion-row>

      <ion-row>
        <ion-searchbar type="text" #filter (keyup)="0" placeholder='{{"SEARCH" | translate}}'></ion-searchbar>
      </ion-row>

      <ion-list>

        <ion-item *ngFor="let user_imei of user_imeis;let i = index" class="tnUserRow">
          <ion-icon item-start name="md-close-circle" class="fontColor-red imeiIcon" *ngIf="user_imei.active==0"></ion-icon>
          <ion-icon item-start name="ios-help-circle" class="fontColor-yellow imeiIcon" *ngIf="!user_imei.user_GUID && user_imei.active!=0"></ion-icon>
          <ion-icon item-start name="ios-checkmark-circle" class="fontColor-green imeiIcon" *ngIf="user_imei.user_GUID && user_imei.active!=0"></ion-icon>
          <ion-label class="fontColor-dark">{{user_imei.user_IMEI}}</ion-label>
          <button ion-button color="sunny" item-end class=" btnStyle1 bgColor-yellow" (click)="View(i)"><ion-icon name="md-eye"></ion-icon></button>
        </ion-item>

      </ion-list>

    </ion-card>

  </div>
  <!--listing end-->

  <!--Profile start-->
  <div class="col3">
    <ion-card class="cb10" *ngFor="let user_imei_history of user_imei_histories">

      <ion-card-header class="fullWidth posRelative bgColor-darkBlue">
        {{user_imei_history.user_IMEI}}        
      <ion-toggle class="posAbsolute topZero rightZero" [checked]="user_imei_history.active!=0" color="secondary" (ionChange)="Deactive_imei(user_imei_history)" item-start></ion-toggle>

      </ion-card-header>

      <ion-item *ngIf="user_imei_history.fullname != null">       
        <ion-label >{{user_imei_history.fullname}}</ion-label>
        <button ion-button color="danger" item-end class="btnStyle1 bgColor-red" (click)="Save_ImeiHistory(user_imei_history)"><ion-icon name="md-trash"></ion-icon></button>
      </ion-item>

      <ion-row *ngIf="user_imei_history.fullname == null">
        <button ion-button full icon-left (click)="ImeiEditClick(user_imei_history)">
          <ion-icon name="md-create"></ion-icon>
          {{"ASSIGN_NEW_USER" | translate}}
        </button>
      </ion-row>

      <ion-item class="tnUserRow bgColor-darkBlue">
        <ion-icon item-start name="ios-list-box-outline" class="imeiIcon"></ion-icon>
        <ion-label class="">{{"USER_HISTORY" | translate}}</ion-label>
      </ion-item>

      <ion-item class="tnUserRow" *ngFor="let get_imeibyid_historie of get_imeibyid_histories">
        <ion-label class="fontColor-dark" >{{get_imeibyid_historie.fullname}}</ion-label>
        <ion-badge item-end class="bgColor-red" >{{get_imeibyid_historie.Created_Date}}</ion-badge>
      </ion-item>
     

    </ion-card>
  </div>

  <!--Profile end-->

  <!--edit form start-->
  <div padding class="fb10 posFixed popupFormCol bgColor-blackOpa fullHeight" *ngIf="ImeiEditClicked">

    <ion-card class="fb4 marginCenter popupFormCard2">

      <ion-card-header class="icTitle headerColor-white posRelative">
        <ion-icon name="ios-add-circle-outline" class="icHeaderIcon posAbsolute leftZero topZero" item-end></ion-icon>
        <div class="icHeaderText">{{"ASSIGN_USER" | translate}}</div>
        <button class="posAbsolute fullHeight bgColor-red topZero rightZero btnStyle2" (click)="ImeiEditClose()">
        <ion-icon name="md-close"></ion-icon> 
      </button>
      </ion-card-header>

      <ion-list class="overflowTrue contentHeight">
        <form [formGroup]="ImeiUserform">
          
          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"USER" | translate}}</ion-label>
            <ion-select formControlName="formuser_GUID" [(ngModel)]="Imeiuser_entry.user_GUID" class="editInput" interface="popover"
              placeholder="{{'FORM_EMPLOYEMENT_TYPE' | translate}}">
                <ion-option *ngFor="let user of users" [value] = "user.user_GUID" >{{user.fullname}}</ion-option>           
            </ion-select>
          </ion-item>

         

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"MODULE" | translate}}</ion-label>
            <ion-select formControlName="formmodule_id" [(ngModel)]="Imeiuser_entry.module_id" class="editInput" interface="popover"
              placeholder="{{'FORM_EMPLOYEMENT_TYPE' | translate}}">             
              <ion-option value="1">{{"SURVEYOR" | translate}}</ion-option>
              <ion-option value="2">{{"SUPERVISOR" | translate}}</ion-option>
              <ion-option value="3">{{"FACTORY" | translate}}</ion-option>
            </ion-select>
          </ion-item>

        </form>
      </ion-list>

      <ion-card-content>
        <button ion-button full class="bgColor-grey fontColor-white btnStyle1" (click)="AssignUser()" >{{"REGISTER" | translate}}</button>
      </ion-card-content>
    </ion-card>
  </div>
  <!--edit form end-->

</ion-content>