page-driver-info .content-md {
    background-color: #f6f6f6 !important;
}

page-driver-info .pgTitle {
    margin-bottom: 10px;
}
page-driver-info .col1 {float: left;width: 10%;}
page-driver-info .col2 {float: left;width: 20%;}
page-driver-info .col3 {float: left;width: 30%;}
page-driver-info .col4 {float: left;width: 40%;}
page-driver-info .col5 {float: left;width: 50%;}
page-driver-info .col6 {float: left;width: 60%;}
page-driver-info .col7 {float: left;width: 70%;}
page-driver-info .col8 {float: left;width: 80%;}
page-driver-info .col9 {float: left;width: 90%;}
page-driver-info .col100 {float: left;width: 100%;}

page-driver-info .cb1 {width: calc(10% - 20px);float:left; margin:10px !important;}
page-driver-info .cb2 {width: calc(20% - 20px);float:left; margin:10px !important;}
page-driver-info .cb3 {width: calc(30% - 20px);float:left; margin:10px !important;}
page-driver-info .cb4 {width: calc(40% - 20px);float:left; margin:10px !important;}
page-driver-info .cb5 {width: calc(50% - 20px);float:left; margin:10px !important;}
page-driver-info .cb6 {width: calc(60% - 20px);float:left; margin:10px !important;}
page-driver-info .cb7 {width: calc(70% - 20px);float:left; margin:10px !important;}
page-driver-info .cb8 {width: calc(80% - 20px);float:left; margin:10px !important;}
page-driver-info .cb9 {width: calc(90% - 20px);float:left; margin:10px !important;}
page-driver-info .cb10 {width: calc(100% - 20px);float:left; margin:10px !important;}

page-driver-info .bgColor-black {background: #e4e4e4;}
page-driver-info .bgColor-lightblue {background: #a6bed2;}
page-driver-info .bgColor-red {background: #ff6b6b; color: #fff;}
page-driver-info .bgColor-purple {background: #9c27b0; color: #fff;}
page-driver-info .bgColor-green {background: #45b7af; color: #fff;}
page-driver-info .bgColor-grey {background: #9aa8b3;border-color:  #adadad;}
page-driver-info .bgColor-yellow {background: #f8cb00; color: #fff;}
page-driver-info .bgColor-blue {background: #65c3df; color: #fff;}

page-driver-info .fontColor-white {color: #fff !important;}
page-driver-info .fontColor-grey {color: #9c9b9b !important;}
page-driver-info .fontColor-dark {color: #717171 !important;}
page-driver-info .fontColor-red {color: #ff6b6b !important;}
page-driver-info .fontColor-green {color: #45b7af !important;}
page-driver-info .fontColor-yellow {color: #f8cb00 !important;}
page-driver-info .fontColor-blue {color: #65c3df !important;}
page-driver-info .fontColor-purple {color: #9c27b0 !important;}

page-driver-info .fullHeight {height: 100%;}
page-driver-info .fullWidth {height: 100%;}

page-driver-info .posFixed {position: fixed;}
page-driver-info .posRelative {position: relative;}
page-driver-info .posAbsolute {position: absolute;}

page-driver-info .floatRight {float: right !important;}
page-driver-info .floatLeft {float: left !important;}

page-driver-info .leftZero {left: 0;}
page-driver-info .topZero {top: 0;}
page-driver-info .rightZero {right: 0;}
page-driver-info .bottomZero {bottom: 0;}

page-driver-info .headerColor-lightred {background: #fe8660 !important; border-color: #da572d !important; color: white !important;}
page-driver-info .headerColor-lightblue {background: #56bdde !important; border-color: #2583a0 !important; color: white !important;}
page-driver-info .headerColor-lightpurple {background: #c21fde !important; border-color: #7350af !important; color: white !important;}
page-driver-info .headerColor-lightgreen {background: #6dc9be !important; border-color: #2b9286 !important; color: white !important;}
page-driver-info .headerColor-green {background: #8bc34a !important; border-color: #4caf50 !important; color: white !important;}
page-driver-info .headerColor-white {background: #ffffff !important; border-color: #e8e8e8 !important; color: #a5a3a3 !important;}

page-driver-info .icTitle {border-bottom: 1px solid;margin-bottom: 10px;padding: 10px !important;}

page-driver-info .icHeaderIcon {height: 100%;padding: 10px;}

page-driver-info .icHeaderText {margin-left: 40px; font-size: 15px;}

page-driver-info .btnStyle1 {box-shadow: none;border: 1px solid;border-radius: 3px;font-size: 13px;}

page-driver-info .portletStyle1{height: 70px;}
page-driver-info .portletColStyle1{margin-left: 65px;}
page-driver-info .portletIconStyle1 {height: 100%;padding: 20px 20px;font-size: 30px;}
page-driver-info .portletHeaderStyle1 {font-size: 15px;padding: 8px 10px 0 10px;font-weight: 400;}
page-driver-info .portletContentStyle1 {font-size: 12px;padding: 0 10px;font-weight: 100;}
page-driver-info .portletContentStyle2 {font-size: 25px;padding: 0 10px;font-weight: 500;margin-top: -3px;margin-bottom: -2px;}

page-driver-info .infoLabel {
    width: 85px;
    padding: 2px 0 2px 12px;
    border-radius: 15px 0 0 15px;
    font-size: 12px;
    font-weight: 100;
}

page-driver-info .infoText {
    margin-left: 84px;
    border-left: 1px solid #d8d8d8;
    padding-left: 10px;
    padding-bottom: 15px;
}

page-driver-info .editInput {
    border-left: 2px solid #d16ae2 !important;
    padding-left: 5px !important;
    font-size: 14px !important;
}

page-driver-info .tnUser {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    min-width: 60px !important;
    min-height: 60px !important;   
}
page-driver-info .item-md ion-thumbnail {
    min-width: 60px !important;
    min-height: 60px !important;
}
page-driver-info .tnUserRow {
    border-bottom: 2px solid #efefef;
}

page-driver-info .cardBox {
    border-radius: 5px !important;
    border: 1px solid #b1cbe0 !important;
    box-shadow: none !important;
}
