page-driver-info .content-md {
    background-color: #edf2f6 !important;
}

page-driver-info .pgTitle {
    margin-bottom: 10px;
}
page-driver-info .col1 {float: left;width: 10%;}
page-driver-info .col2 {float: left;width: 20%;}
page-driver-info .col3 {float: left;width: 30%;}
page-driver-info .col4 {float: left;width: 40%;}
page-driver-info .col5 {float: left;width: 50%;}
page-driver-info .col6 {float: left;width: 60%;}
page-driver-info .col7 {float: left;width: 70%;}
page-driver-info .col8 {float: left;width: 80%;}
page-driver-info .col9 {float: left;width: 90%;}
page-driver-info .col100 {float: left;width: 100%;}

page-driver-info .cb1 {width: calc(10% - 20px);float:left; margin:10px !important;}
page-driver-info .cb2 {width: calc(20% - 20px);float:left; margin:10px !important;}
page-driver-info .cb3 {width: calc(30% - 20px);float:left; margin:10px !important;}
page-driver-info .cb4 {width: calc(40% - 20px);float:left; margin:10px !important;}
page-driver-info .cb5 {width: calc(50% - 20px);float:left; margin:10px !important;}
page-driver-info .cb6 {width: calc(60% - 20px);float:left; margin:10px !important;}
page-driver-info .cb7 {width: calc(70% - 20px);float:left; margin:10px !important;}
page-driver-info .cb8 {width: calc(80% - 20px);float:left; margin:10px !important;}
page-driver-info .cb9 {width: calc(90% - 20px);float:left; margin:10px !important;}
page-driver-info .cb10 {width: calc(100% - 20px);float:left; margin:10px !important;}

page-driver-info .fontColor-dark {color: #000 !important;}
page-driver-info .fontColor-light {color: #fff !important;}
page-driver-info .fontColor-blue {color: blue !important;}

page-driver-info .headerColor-lightblue {background: #488aff !important; border-color: #0d57da !important; color: white !important;}

page-driver-info .icTitle {border-bottom: 2px solid;margin-bottom: 10px;}

