<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar class="bgColor-purple fontColor-white">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list class="marginZero">
      <ion-row>
        <button ion-item class="bgColor-lightGrey menuButton" (click)="processPageClick()">
          <ion-icon name="ios-arrow-forward" class="fontColor-grey" item-start></ion-icon>
          Process
        </button>
      </ion-row>
      <ion-row *ngIf="processPageClicked">
        <button ion-item menuClose *ngFor="let p of processPages" (click)="openPage(p)"  class="bgColor-white menuButton">
          <ion-icon item-start [name]="p.icon"></ion-icon>
          {{p.title}}
        </button>
      </ion-row>
    </ion-list>

    <ion-list class="marginZero">
      <ion-row>
        <button ion-item class="bgColor-lightGrey menuButton" (click)="reportingPageClick()">
          <ion-icon name="ios-arrow-forward" class="fontColor-grey" item-start></ion-icon>
          Reporting
        </button>
      </ion-row>
      <ion-row *ngIf="reportingPageClicked">
        <button ion-item menuClose *ngFor="let p of reportingPages" (click)="openPage(p)"  class="bgColor-white menuButton">
          <ion-icon item-start [name]="p.icon"></ion-icon>
          {{p.title}}
        </button>
      </ion-row>
    </ion-list>

    <ion-list class="marginZero">
      <ion-row>
        <button ion-item class="bgColor-lightGrey menuButton" (click)="othersPageClick()">
          <ion-icon name="ios-arrow-forward" class="fontColor-grey" item-start></ion-icon>
          Others
        </button>
      </ion-row>
      <ion-row *ngIf="othersPageClicked">
        <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)"  class="bgColor-white menuButton">
          <ion-icon item-start [name]="p.icon"></ion-icon>
          {{p.title}}
        </button>
      </ion-row>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>