<ion-content padding class="contentMarginTop">

  <!--form start-->
  <div class="col2">
    <button class="btnColor-red cb10 posRelative portletStyle2" full (click)="userRegisterClick()">
      <ion-icon name="ios-pin" class="portletIconStyle2 posAbsolute leftZero topZero bgColor-red" item-start></ion-icon>
      <div class="portletColStyle2">
        <div class="portletHeaderStyle2">{{"REGISTER_NEW_USER" | translate}}</div>
      </div>

    </button>

    <ion-card class="cb10">
      <ion-row>
        <ion-card-header class="fullWidth graphHeaderStyleRed fontColor-dark">
          {{"TOTAL_USER" | translate}}
        </ion-card-header>
      </ion-row>
      <ion-card-content>
        <div class="graphContentStyle2 fontColor-red">25</div>
        <div class="graphContentStyle1 fontColor-grey">{{"UPDATE_ON" | translate}} 13 March 2017</div>
        <ion-item>
          <canvas #driverDoughnutCanvas></canvas>
        </ion-item>
        <ion-item class="graphLabelStyle1 fontColor-grey">
          {{"PERMANENT" | translate}}
          <ion-badge item-end class="bgColor-blue">75</ion-badge>
        </ion-item>
        <ion-item class="graphLabelStyle1 fontColor-grey">
          {{"TEMPORARY" | translate}}
          <ion-badge item-end class="bgColor-red">27</ion-badge>
        </ion-item>
        <ion-item class="graphLabelStyle1 fontColor-grey">
          {{"PROBATION" | translate}}
          <ion-badge item-end class="bgColor-yellow">5</ion-badge>
        </ion-item>
        <ion-item class="graphLabelStyle1 fontColor-grey">
          {{"CONTRACT" | translate}}
          <ion-badge item-end class="bgColor-green">19</ion-badge>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </div>
  <!--form end-->

  <!--listing start-->
  <div class="col5">

    <ion-card class="cb10">
      <ion-row>
        <!--<ion-searchbar placeholder="{{'SEARCH' | translate}}"></ion-searchbar>-->
       <ion-searchbar type="text" #filter (keyup)="0" placeholder="Search by name"></ion-searchbar>
       
      </ion-row>
      <ion-card-content>
        <ion-list>

          <ion-item *ngFor="let user of (users| filteruser: filter.value : 'name');" class="tnUserRow">

            <ion-toggle checked="true" color="secondary" item-start></ion-toggle>
            <ion-label class="fontColor-dark">{{user.fullname}}</ion-label>
            <button ion-button color="sunny" item-end class=" btnStyle1 bgColor-yellow" (click)="View(driver.driver_GUID)"><ion-icon name="md-eye"></ion-icon></button>
            <button ion-button color="primary" item-end class=" btnStyle1 bgColor-blue" (click)="userEditClick()"><ion-icon name="ios-create"></ion-icon></button>
            <button ion-button color="danger" item-end class=" btnStyle1 bgColor-red" (click)="remove(user.user_GUID)"><ion-icon name="md-close"></ion-icon></button>
          </ion-item>
        </ion-list>
      </ion-card-content>

    </ion-card>

  </div>
  <!--listing end-->

  <!--Profile start-->
  <div class="col3">
    <ion-card class="cb10">

      <ion-card-header class="fullWidth posRelative bgColor-darkBlue">
        name here
      </ion-card-header>

      <ion-card-content padding>
          <div class="infoLabel bgColor-red floatLeft">{{"ADDRESS" | translate}}</div>
          <div class="infoText">address1<br/> address2</div>

      </ion-card-content>

    </ion-card>
  </div>
  <!--Profile end-->




  <!--register User form start-->
  <div padding class="fb10 posFixed popupFormCol bgColor-blackOpa fullHeight" *ngIf="userRegisterClicked">

    <ion-card class="fb4 marginCenter popupFormCard">

      <ion-card-header class="icTitle headerColor-white posRelative">
        <ion-icon name="ios-add-circle-outline" class="icHeaderIcon posAbsolute leftZero topZero" item-end></ion-icon>
        <div class="icHeaderText">{{"REGISTER_NEW_USER" | translate}}</div>
        <button class="posAbsolute fullHeight bgColor-red topZero rightZero btnStyle2" (click)="userRegisterClick()">
          <ion-icon name="md-close"></ion-icon> 
        </button>
      </ion-card-header>

      <ion-list class="overflowTrue contentHeight">

        <form [formGroup]="Userform">

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"FULLNAME" | translate}}</ion-label>
            <ion-input type="text" formControlName="fullname" [(ngModel)]="user_entry.fullname" class="editInput" placeholder="{{'FORM_FULLNAME' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"USERNAME" | translate}}</ion-label>
            <ion-input type="text" formControlName="userID" [(ngModel)]="user_entry.userID" class="editInput" placeholder="{{'FORM_USERNAME' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"Email" | translate}}</ion-label>
            <ion-input type="text" formControlName="email" [(ngModel)]="user_entry.email" class="editInput" placeholder="{{'FORM_EMAIL' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"PASSWORD" | translate}}</ion-label>
            <ion-input type="text" formControlName="password" [(ngModel)]="user_entry.password" class="editInput" placeholder="{{'FORM_PASSWORD' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"ADDRESS" | translate}} 1</ion-label>
            <ion-input type="text" formControlName="address1" [(ngModel)]="user_entry.address1" class="editInput" placeholder="{{'FORM_ADDRESS_1' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"ADDRESS" | translate}} 2</ion-label>
            <ion-input type="text" formControlName="address2" [(ngModel)]="user_entry.address2" class="editInput" placeholder="{{'FORM_ADDRESS_2' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"ROLE" | translate}}</ion-label>
            <ion-select formControlName="role_GUID" [(ngModel)]="user_entry.role_GUID" class="editInput" interface="popover" placeholder="{{'FORM_EMPLOYEMENT_TYPE' | translate}}">
              <ion-option value="0">N/A</ion-option>
              <ion-option value="1">{{"ADMINISTRATOR" | translate}}</ion-option>
              <ion-option value="2">{{"CARELINE" | translate}}</ion-option>
              <ion-option value="3">{{"SURVEYOR" | translate}}</ion-option>
              <ion-option value="4">{{"MANDOR" | translate}}</ion-option>
              <ion-option value="4">{{"FACTORY" | translate}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-yellow" stacked>{{"ACTIVE" | translate}} </ion-label>
            <ion-toggle formControlName="active" [(ngModel)]="user_entry.active" color="secondary"></ion-toggle>
          </ion-item>

          <!--<button ion-button color="primary" [disabled]="!Driverform.valid" (click)="save()">Save</button>-->

        </form>

      </ion-list>

      <ion-card-content>
        <button ion-button full class="bgColor-grey fontColor-white btnStyle1" [disabled]="!Userform.valid" (click)="save()">{{"UPDATE" | translate}}</button>
      </ion-card-content>

    </ion-card>
  </div>
  <!--register User form end-->

  <!--edit User form start-->

  <!--<div padding class="fb10 posFixed popupFormCol bgColor-blackOpa fullHeight" *ngIf="userEditClicked">

    <ion-card class="fb4 marginCenter popupFormCard">

      <ion-card-header class="icTitle headerColor-white posRelative">
        <ion-icon name="ios-add-circle-outline" class="icHeaderIcon posAbsolute leftZero topZero" item-end></ion-icon>
        <div class="icHeaderText">{{"UPDATE_USER" | translate}} (<b>{{driver.fullname}}</b>)</div>
        <button class="posAbsolute fullHeight bgColor-red topZero rightZero btnStyle2" (click)="userEditClick()">
          <ion-icon name="md-close"></ion-icon> 
        </button>
      </ion-card-header>

      <ion-list class="overflowTrue contentHeight">
        <form [formGroup]="Driverform">

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"FULLNAME" | translate}}</ion-label>
            <ion-input type="text" formControlName="fullname" [(ngModel)]="driver_entry.fullname" class="editInput" placeholder="{{'FORM_FULLNAME' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"PASSWORD" | translate}}</ion-label>
            <ion-input type="text" formControlName="fullname" [(ngModel)]="driver_entry.fullname" class="editInput" placeholder="{{'FORM_PASSWORD' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"ADDRESS" | translate}} 1</ion-label>
            <ion-input type="text" formControlName="address1" [(ngModel)]="driver_entry.address1" class="editInput" placeholder="{{'FORM_ADDRESS_1' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"ADDRESS" | translate}} 2</ion-label>
            <ion-input type="text" formControlName="address2" [(ngModel)]="driver_entry.address2" class="editInput" placeholder="{{'FORM_ADDRESS_2' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"ROLE" | translate}}</ion-label>
            <ion-select formControlName="employment_type" [(ngModel)]="driver_entry.employment_type" class="editInput" interface="popover"
              placeholder="{{'FORM_EMPLOYEMENT_TYPE' | translate}}">
              <ion-option value="0">N/A</ion-option>
              <ion-option value="1">{{"ADMINISTRATOR" | translate}}</ion-option>
              <ion-option value="2">{{"CARELINE" | translate}}</ion-option>
              <ion-option value="3">{{"SURVEYOR" | translate}}</ion-option>
              <ion-option value="4">{{"MANDOR" | translate}}</ion-option>
              <ion-option value="4">{{"FACTORY" | translate}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-yellow" stacked>{{"ACTIVE" | translate}} </ion-label>
            <ion-toggle formControlName="active" checked="false" [(ngModel)]="driver_entry.active" color="secondary"></ion-toggle>
          </ion-item>

          </form>

      </ion-list>

      <ion-card-content>
        <button ion-button full class="bgColor-grey fontColor-white btnStyle1" [disabled]="!Driverform.valid" (click)="save()">{{"UPDATE" | translate}}</button>
      </ion-card-content>

    </ion-card>
  </div>-->

  <!--edit User form end-->


</ion-content>