<ion-content padding class="contentMarginTop">

  <!--form start-->
  <div class="col2">
    <button class="btnColor-green cb10 posRelative portletStyle2" full (click)="userRegisterClick()">
      <ion-icon name="md-add-circle" class="portletIconStyle2 posAbsolute leftZero topZero bgColor-green" item-start></ion-icon>
      <div class="portletColStyle2">
        <div class="portletHeaderStyle2">{{"REGISTER_NEW_USER" | translate}}</div>
      </div>

    </button>

    <!-- <ion-card class="cb10">
      <ion-row>

        <ion-card-header class="fullWidth graphHeaderStyleGreen fontColor-dark">
          {{"TOTAL_USER" | translate}}
        </ion-card-header>
      </ion-row>
      <ion-card-content>
        <div class="graphContentStyle2 fontColor-grey">127</div>
        <ion-item class="fontColor-grey">
          {{"ACTIVE" | translate}}
          <ion-badge item-end class="bgColor-green">109</ion-badge>
        </ion-item>
        <div class="percentBar fullWidth">
          <div class="percentBarValue bgColor-green" style="width: calc(100% * (109 / 127))"></div>
        </div>
        <ion-item class="fontColor-grey">
          {{"INACTIVE" | translate}}
          <ion-badge item-end class="bgColor-red">18</ion-badge>
        </ion-item>
        <div class="percentBar fullWidth">
          <div class="percentBarValue bgColor-red" style="width: calc(100% * (18 / 127))"></div>
        </div>
      </ion-card-content>
    </ion-card> -->

    <ion-card class="cb10" hidden>
      <ion-row>
        <ion-card-header class="fullWidth graphHeaderStyleGreen fontColor-dark">
          {{"TOTAL_USER" | translate}}
        </ion-card-header>
      </ion-row>
      <ion-card-content>
        <div class="graphContentStyle2 fontColor-grey">25</div>
        <div class="graphContentStyle1 fontColor-grey">{{"UPDATE_ON" | translate}} 13 March 2017</div>
        <ion-item>
          <canvas #driverDoughnutCanvas></canvas>
        </ion-item>
        <ion-item>
          <ion-row *ngFor="let driverchart of drivercharts">
            <ion-item *ngIf="driverchart.Employment==1" class="graphLabelStyle1 fontColor-grey">
              {{"TEMPORARY" | translate}}
              <ion-badge item-end class="bgColor-red">{{driverchart.TOTAL}}</ion-badge>
            </ion-item>
          </ion-row>
          <ion-row *ngFor="let driverchart of drivercharts">
            <ion-item *ngIf="driverchart.Employment==2" class="graphLabelStyle1 fontColor-grey">
              {{"PERMANENT" | translate}}
              <ion-badge item-end class="bgColor-red">{{driverchart.TOTAL}}</ion-badge>
            </ion-item>
          </ion-row>
          <ion-row *ngFor="let driverchart of drivercharts">
            <ion-item *ngIf="driverchart.Employment==3" class="graphLabelStyle1 fontColor-grey">
              {{"CONTRACT" | translate}}
              <ion-badge item-end class="bgColor-red">{{driverchart.TOTAL}}</ion-badge>
            </ion-item>
          </ion-row>
          <ion-row *ngFor="let driverchart of drivercharts">
            <ion-item *ngIf="driverchart.Employment==4" class="graphLabelStyle1 fontColor-grey">
              {{"PROBATION" | translate}}
              <ion-badge item-end class="bgColor-red">{{driverchart.TOTAL}}</ion-badge>
            </ion-item>
          </ion-row>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </div>
  <!--form end-->

  <!--listing start-->
  <div class="col5">

    <ion-card class="cb10">

      <ion-row>
        <ion-card-header class="fullWidth graphHeaderStyleGreen fontColor-dark">
          {{"USER" | translate}}
        </ion-card-header>
      </ion-row>

      <ion-row>
        <ion-searchbar type="text" #filter (keyup)="0" placeholder="{{'SEARCH' | translate}}"></ion-searchbar>
      </ion-row>

      <ion-list>

        <ion-item *ngFor="let user of (users| filteruser: filter.value : 'name');" class="tnUserRow">

          <ion-toggle *ngIf="user.active==0" checked="false" color="secondary" item-start (ionChange)="Deactive_user(user)"></ion-toggle>
          <ion-toggle *ngIf="user.active==null" checked="false" color="secondary" item-start (ionChange)="Deactive_user(user)"></ion-toggle>
          <ion-toggle *ngIf="user.active==1" checked="true" color="secondary" (ionChange)="Deactive_user(user)" item-start></ion-toggle>

          <ion-label class="fontColor-dark">{{user.fullname}}</ion-label>
          <button ion-button color="sunny" item-end class=" btnStyle1 bgColor-yellow" (click)="View(user.user_GUID)"><ion-icon name="md-eye"></ion-icon></button>
          <button ion-button color="primary" item-end class=" btnStyle1 bgColor-blue" (click)="Edit(user)"><ion-icon name="ios-create"></ion-icon></button>

        </ion-item>
      </ion-list>

    </ion-card>

  </div>
  <!--listing end-->

  <!--Profile start-->
  <!-- <div class="col3">
    <ion-card class="cb10">


      <ion-card-header class="fullWidth posRelative bgColor-darkBlue">
        {{user.fullname}}
      </ion-card-header>

      <ion-card-content padding>

        <div class="">
          <div class="infoLabel bgColor-lightGrey floatLeft">{{"ADDRESS" | translate}}</div>
          <div class="infoText">{{user.address1}}<br/> {{user.address2}}
            <br/> {{user.address3}}
          </div>
        </div>

        <div class="">
          <div class="infoLabel bgColor-lightGrey floatLeft">{{"EMAIL" | translate}}</div>
          <div class="infoText">{{user.email}}</div>
        </div>

      </ion-card-content>

    </ion-card>
  </div> -->
  <!--Profile end-->


  <!--Profile start-->
  <div class="col3">
    <ion-card class="cb10">

      <ion-card-header class="fullWidth posRelative bgColor-darkBlue">
        {{user.fullname}}
        <button class="posAbsolute fullHeight topZero rightZero btnStyle2 bgColor-darkBlue" (click)="addLocationClick()">
        <ion-icon name="md-add"></ion-icon>
      </button>
      </ion-card-header>

      <div [ngSwitch]="userInfo">
        <ion-list *ngSwitchDefault>
          <ion-card-content>
            
            <div class="">
          <div class="infoLabel bgColor-lightGrey floatLeft">{{"ADDRESS" | translate}}</div>
          <div class="infoText">{{user.address1}}<br/> {{user.address2}}
            <br/> {{user.address3}}
          </div>
        </div>

        <div class="">
          <div class="infoLabel bgColor-lightGrey floatLeft">{{"EMAIL" | translate}}</div>
          <div class="infoText">{{user.email}}</div>
        </div>

          </ion-card-content>
        </ion-list>

        <ion-list *ngSwitchCase="'Location'">

          <ion-row>
            <ion-searchbar placeholder="{{'SEARCH' | translate}}"></ion-searchbar>
          </ion-row>

           <ion-item *ngFor="let get_selectlocation of get_selectlocations">
            <ion-label>{{get_selectlocation.name}}</ion-label>
            <button ion-button color="primary" item-end class=" btnStyle1 bgColor-red" (click)="Delete(get_selectlocation)"><ion-icon name="md-trash"></ion-icon></button>

          </ion-item>

        

        </ion-list>

      </div>

      <ion-row>
         <ion-segment [(ngModel)]="userInfo" [ngModelOptions]="{standalone:true}" color="primary"> 
          <ion-segment-button value="Info" isActive>
            {{"INFO" | translate}}
          </ion-segment-button>
          <ion-segment-button value="Location">
            {{"LOCATION" | translate}}
          </ion-segment-button>
        </ion-segment>
      </ion-row>

    </ion-card>
  </div>
  <!--Profile end-->

  <!--register User form start-->
  <div padding class="fb10 posFixed popupFormCol bgColor-blackOpa fullHeight" *ngIf="userRegisterClicked">

    <ion-card class="fb4 marginCenter popupFormCard">

      <ion-card-header class="icTitle headerColor-white posRelative">
        <ion-icon name="ios-add-circle-outline" class="icHeaderIcon posAbsolute leftZero topZero" item-end></ion-icon>
        <div class="icHeaderText">{{"REGISTER_NEW_USER" | translate}}</div>
        <button class="posAbsolute fullHeight bgColor-red topZero rightZero btnStyle2" (click)="userRegisterClick()">
          <ion-icon name="md-close"></ion-icon> 
        </button>
      </ion-card-header>

      <ion-list class="overflowTrue contentHeight">

        <form [formGroup]="Userform">

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"FULLNAME" | translate}}</ion-label>
            <ion-input type="text" formControlName="fullname" [(ngModel)]="user_entry.fullname" class="editInput" placeholder="{{'FORM_FULLNAME' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"USERNAME" | translate}}</ion-label>
            <ion-input type="text" formControlName="userID" [(ngModel)]="user_entry.userID" class="editInput" placeholder="{{'FORM_USERNAME' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"Email" | translate}}</ion-label>
            <ion-input type="text" formControlName="email" [(ngModel)]="user_entry.email" class="editInput" placeholder="{{'FORM_EMAIL' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"PASSWORD" | translate}}</ion-label>
            <ion-input type="password" formControlName="password" [(ngModel)]="user_entry.password" class="editInput" placeholder="{{'FORM_PASSWORD' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"ADDRESS" | translate}} 1</ion-label>
            <ion-input type="text" formControlName="address1" [(ngModel)]="user_entry.address1" class="editInput" placeholder="{{'FORM_ADDRESS_1' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"ADDRESS" | translate}} 2</ion-label>
            <ion-input type="text" formControlName="address2" [(ngModel)]="user_entry.address2" class="editInput" placeholder="{{'FORM_ADDRESS_2' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-yellow" stacked>{{"ACTIVE" | translate}} </ion-label>
            <ion-toggle formControlName="active" [(ngModel)]="user_entry.active" color="secondary"></ion-toggle>
          </ion-item>

          <!--<button ion-button color="primary" [disabled]="!Driverform.valid" (click)="save()">Save</button>-->

        </form>

      </ion-list>

      <ion-card-content>
        <button ion-button full class="bgColor-grey fontColor-white btnStyle1" [disabled]="!Userform.valid" (click)="save()">{{"UPDATE" | translate}}</button>
      </ion-card-content>

    </ion-card>
  </div>
  <!--register User form end-->

  <!--edit User form start-->
  <div padding class="fb10 posFixed popupFormCol bgColor-blackOpa fullHeight" *ngIf="userEditClicked">

    <ion-card class="fb4 marginCenter popupFormCard">

      <ion-card-header class="icTitle headerColor-white posRelative">
        <ion-icon name="ios-add-circle-outline" class="icHeaderIcon posAbsolute leftZero topZero" item-end></ion-icon>
        <div class="icHeaderText">{{"UPDATE_USER" | translate}} (<b>{{user.fullname}}</b>)</div>
        <button class="posAbsolute fullHeight bgColor-red topZero rightZero btnStyle2" (click)="userEditClick()">
          <ion-icon name="md-close"></ion-icon> 
        </button>
      </ion-card-header>

      <ion-list class="overflowTrue contentHeight">
        <form [formGroup]="UserEditform">

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"FULLNAME" | translate}}</ion-label>
            <ion-input type="text" formControlName="fullname" [(ngModel)]="user_entry_edit.fullname" class="editInput" placeholder="{{'FORM_FULLNAME' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"USERNAME" | translate}}</ion-label>
            <ion-input type="text" formControlName="userID" [(ngModel)]="user_entry_edit.userID" class="editInput" placeholder="{{'FORM_USERNAME' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"Email" | translate}}</ion-label>
            <ion-input type="text" formControlName="email" [(ngModel)]="user_entry_edit.email" class="editInput" placeholder="{{'FORM_EMAIL' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"PASSWORD" | translate}}</ion-label>
            <ion-input type="password" formControlName="password" [(ngModel)]="user_entry_edit.password" class="editInput" placeholder="{{'FORM_PASSWORD' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"ADDRESS" | translate}} 1</ion-label>
            <ion-input type="text" formControlName="address1" [(ngModel)]="user_entry_edit.address1" class="editInput" placeholder="{{'FORM_ADDRESS_1' | translate}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"ADDRESS" | translate}} 2</ion-label>
            <ion-input type="text" formControlName="address2" [(ngModel)]="user_entry_edit.address2" class="editInput" placeholder="{{'FORM_ADDRESS_2' | translate}}"></ion-input>
          </ion-item>

          <!-- <ion-item>
            <ion-label class="fontColor-green" stacked>{{"ROLE" | translate}}</ion-label>
            <ion-select formControlName="role_GUID" [(ngModel)]="user_entry_edit.role_GUID" class="editInput" interface="popover" placeholder="{{'FORM_EMPLOYEMENT_TYPE' | translate}}">
              <ion-option value="0">N/A</ion-option>
              <ion-option value="1">{{"SURVEYOR" | translate}}</ion-option>
              <ion-option value="2">{{"SUPERVISOR" | translate}}</ion-option>
              <ion-option value="3">{{"FACTORY" | translate}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label class="fontColor-green" stacked>{{"IMEI" | translate}}</ion-label>
            <ion-select formControlName="role_GUID" [(ngModel)]="user_entry_edit.role_GUID" class="editInput" interface="popover" placeholder="Select IMEI">
              <ion-option *ngFor="let user_imei of user_imeis" [value]="user_imei.user_IMEI">{{user_imei.user_IMEI}}</ion-option>
            </ion-select>
          </ion-item> -->

        </form>

      </ion-list>

      <ion-card-content>
        <button ion-button full class="bgColor-grey fontColor-white btnStyle1" [disabled]="" (click)="Updateinfo()">{{"UPDATE" | translate}}</button>
      </ion-card-content>

    </ion-card>
  </div>
  <!--edit User form end-->

   <!--add Location form start-->
  <div padding class="fb10 posFixed popupFormCol bgColor-blackOpa fullHeight" *ngIf="addLocationClicked">

    <ion-card class="fb6 marginCenter popupFormCard">

      <ion-card-header class="icTitle headerColor-white posRelative">
        <ion-icon name="ios-add-circle-outline" class="icHeaderIcon posAbsolute leftZero topZero" item-end></ion-icon>
        <div class="icHeaderText">{{"REGISTER_NEW_LOCATION" | translate}} <b>{{user.fullname}}</b></div>
        <button class="posAbsolute fullHeight bgColor-red topZero rightZero btnStyle2" (click)="addLocationClick()">
        <ion-icon name="md-close"></ion-icon> 
      </button>
      </ion-card-header>

      <ion-card class="cb5 contentHeight3">

        <ion-row>
          <ion-item class="bgColor-lightGrey posRelative">
            <ion-label item-start>{{"AVAILABLE_LOCATION" | translate}}</ion-label>
            <button item-end ion-button color="primary" class="posAbsolute fullHeight topZero rightZero btnStyle2 marginZero"><ion-icon name="ios-arrow-forward"></ion-icon> </button>
          </ion-item>
        </ion-row>

        <div class="contentHeight3 overflowTrue">
          <ion-list>
            <ion-item *ngFor="let getlocation of getlocations">
              <ion-label>{{getlocation.name}}</ion-label>
              <!--<ion-checkbox color="secondary" checked="false" item-end></ion-checkbox>-->
              <ion-checkbox color="secondary" checked="false" (ionChange)="AvailableSelection($event,getlocation)" item-end></ion-checkbox>
            </ion-item>
          </ion-list>
        </div>
      </ion-card>
      <ion-card class="cb5 contentHeight3">

        <ion-row>
          <ion-item class="bgColor-lightGrey posRelative">
            <!--<button item-start ion-button color="primary" class="posAbsolute fullHeight topZero leftZero btnStyle2 marginZero"><ion-icon name="ios-arrow-back"></ion-icon> </button>-->
            <ion-label class="textAllignRight">{{"SELECTED_LOCATION" | translate}}</ion-label>
          </ion-item>
        </ion-row>

        <div class="contentHeight3 overflowTrue">
          <ion-list>
            <ion-item *ngFor="let get_selectlocation of get_selectlocations">
              <ion-label>{{get_selectlocation.name}}</ion-label>
              <!--<ion-checkbox color="secondary" checked="false" (ionChange)="RemoveSelection($event,get_selectvehicle)" item-end></ion-checkbox>-->
            </ion-item>
          </ion-list>


        </div>

      </ion-card>
    </ion-card>
  </div>
  <!--add Location form end-->
  
</ion-content>