
page-landing-v2 {

}
.cbLogin { width: 350px !important;margin: 10% auto !important;}

.contentMarginTop {margin-top: 55px;}

.logoSize {width: 120px;}

.menuButton {    border-bottom: 1px solid #dedede !important;font-size: 13px !important;font-weight: 100 !important;letter-spacing: 1px !important;text-transform: uppercase !important;}
.menuButton:hover {background: rgba(0, 0, 0, 0.1);}

.headerInfo {float: right;position: absolute;top: 0;right: 0;height: 100%;}
.headerButton {padding: 10px;float: right;margin: 0;height: 100%;border-radius: 0;}  
.headerImage {width: 40px !important;height: 40px !important;border-radius: 50%;min-width: 55px !important;min-height: 55px !important;padding: 8px;}
.headerLabel {font-size: 16px;font-weight: 100;margin: 18px 5px;}

.content-md {background-color: #f6f6f6 !important;}

.pgTitle {margin-bottom: 10px;}

.col1 {float: left;width: 10%;}
.col2 {float: left;width: 20%;}
.col3 {float: left;width: 30%;}
.col33 {float: left;width: 33.3%;}
.col4 {float: left;width: 40%;}
.col5 {float: left;width: 50%;}
.col6 {float: left;width: 60%;}
.col7 {float: left;width: 70%;}
.col8 {float: left;width: 80%;}
.col9 {float: left;width: 90%;}
.col100 {float: left;width: 100%;}

.cb1 {width: calc(10% - 20px);float:left; margin:10px !important;}
.cb2 {width: calc(20% - 20px);float:left; margin:10px !important;}
.cb3 {width: calc(30% - 20px);float:left; margin:10px !important;}
.cb4 {width: calc(40% - 20px);float:left; margin:10px !important;}
.cb5 {width: calc(50% - 20px);float:left; margin:10px !important;}
.cb6 {width: calc(60% - 20px);float:left; margin:10px !important;}
.cb7 {width: calc(70% - 20px);float:left; margin:10px !important;}
.cb8 {width: calc(80% - 20px);float:left; margin:10px !important;}
.cb9 {width: calc(90% - 20px);float:left; margin:10px !important;}
.cb10 {width: calc(100% - 20px);float:left; margin:10px !important;}

.fb1 {width: calc(10% - 20px);}
.fb2 {width: calc(20% - 20px);}
.fb3 {width: calc(30% - 20px);}
.fb4 {width: calc(40% - 20px);}
.fb5 {width: calc(50% - 20px);}
.fb6 {width: calc(60% - 20px);}
.fb7 {width: calc(70% - 20px);}
.fb8 {width: calc(80% - 20px);}
.fb9 {width: calc(90% - 20px);}
.fb10 {width: calc(100% - 20px);}

.bgColor-white {background: #fff;}
// .bgColor-lightGrey {background: #f6f6f6;}
.bgColor-lightGrey {background: #d8d8d8;}
.bgColor-lightblue {background: #a6bed2;}
.bgColor-red {background: #ff6b6b; color: #fff;}
.bgColor-purple {background: #9c27b0; color: #fff;}
.bgColor-green {background: #6bc801; color: #fff;}
.bgColor-grey {background: #9aa8b3;border-color:  #adadad;}
.bgColor-yellow {background: #f8cb00; color: #fff;}
.bgColor-blue {background: #65c3df; color: #fff;}
.bgColor-darkBlue {background: #31333c; color: #fff;}
.bgColor-blackOpa {background: rgba(0, 0, 0, 0.45)}

.btnColor-red {background: #fff; color: #717171; transition: 0.2s linear;}
.btnColor-purple {background: #fff; color: #717171; transition: 0.2s linear;}
.btnColor-green {background: #fff; color: #717171; transition: 0.2s linear;}
.btnColor-grey {background: #fff;border-color:  #717171; transition: 0.2s linear;}
.btnColor-yellow {background: #fff; color: #717171; transition: 0.2s linear;}
.btnColor-blue {background: #fff; color: #717171; transition: 0.2s linear;}
.btnColor-darkBlue {background: #fff; color: #717171; transition: 0.2s linear;}

.btnColor-red:hover {background: #ff6b6b; color: #fff;}
.btnColor-purple:hover {background: #9c27b0; color: #fff;}
.btnColor-green:hover {background: #6bc801; color: #fff;}
.btnColor-grey:hover {background: #9aa8b3;border-color:  #fff;}
.btnColor-yellow:hover {background: #f8cb00; color: #fff;}
.btnColor-blue:hover {background: #65c3df; color: #fff;}
.btnColor-darkBlue:hover {background: #31333c; color: #fff;}

.fontColor-white {color: #fff !important;}
.fontColor-grey {color: #9c9b9b !important;}
.fontColor-dark {color: #717171 !important;}
.fontColor-red {color: #ff6b6b !important;}
.fontColor-green {color: #6bc801 !important;}
.fontColor-yellow {color: #f8cb00 !important;}
.fontColor-blue {color: #65c3df !important;}
.fontColor-purple {color: #9c27b0 !important;}
.fontColor-orange {color: #ff5722 !important;}

.fullHeight {height: 100% !important;}
.fullWidth {width: 100% !important;}

.contentHeight {max-height: calc(100% - 115px) !important;}
.contentHeight2 {max-height: calc(100% - 175px) !important;}
.contentHeight3 {height: calc(100% - 70px) !important;}
.MaxHeightFull {max-height: 100% !important;}

.posFixed {position: fixed !important;}
.posRelative {position: relative !important;}
.posAbsolute {position: absolute !important;}

.floatRight {float: right !important;}
.floatLeft {float: left !important;}

.textLeft {text-align: left;}
.textRight {text-align: right;}

.leftZero {left: 0 !important;;}
.topZero {top: 0 !important;;}
.rightZero {right: 0 !important;;}
.bottomZero {bottom: 0 !important;;}

.headerColor-lightred {background: #fe8660 !important; border-color: #da572d !important; color: white !important;}
.headerColor-lightblue {background: #56bdde !important; border-color: #2583a0 !important; color: white !important;}
.headerColor-lightpurple {background: #c21fde !important; border-color: #7350af !important; color: white !important;}
.headerColor-lightgreen {background: #6dc9be !important; border-color: #2b9286 !important; color: white !important;}
.headerColor-green {background: #6bc801 !important; border-color: #4caf50 !important; color: white !important;}
.headerColor-white {background: #ffffff !important; border-color: #e8e8e8 !important; color: #a5a3a3 !important;}

.marginZero {margin: 0 !important;}
.marginCenter {margin: auto !important;}
.marginAuto {margin: auto !important;}
.paddingZero {padding: 0 !important;}

.reportLabelValue {font-size: 20px !important;font-weight: 100 !important;}
.reportItemRow {border-bottom: 1px solid #f1f1f1 !important;}
.reportItemRow2 {border-bottom: 1px solid #f1f1f1 !important;padding: 5px 0 0 0;}

.popupFormCol {width: 100% !important; left: 0 !important; top: 55px !important;}
.popupFormCard {height: calc(100% - 105px) !important;}

.overflowTrue {overflow: auto !important;}

.icTitle {border-bottom: 1px solid !important;margin-bottom: 10px !important;padding: 10px !important;}

.icHeaderIcon {height: 100% !important;padding: 10px !important;}

.icHeaderText {margin-left: 40px !important; font-size: 15px !important;}

.arrowRotate {transform: rotate(90deg); transition: 0.2s linear;}
.menuShow { display: block !important; }
.menuHide { display: none;}

.btnStyle1 {box-shadow: none !important;border: 1px solid !important;border-radius: 3px !important;font-size: 13px !important;}
.btnStyle2 {width: 38px !important;font-size: 22px !important;}
.btnStyle3 {font-size: 25px !important;position: absolute;right: 20px;top: 10px;cursor: pointer;}
.btnStyle4 {font-size: 25px !important;position: absolute;right: 55px;top: 10px;cursor: pointer;}

.fabListStyle1 {min-height: 50px !important;}
.fabBtnStyle1 {margin: 5px 15px !important;}

.textAllignLeft {text-align: left !important;}
.textAllignRight {text-align: right !important;}

.portletStyle1{height: 70px;}
.portletColStyle1{margin-left: 65px;}
.portletIconStyle1 {height: 100%;padding: 16px 0;font-size: 35px;width: 65px;text-align: center;}
.portletHeaderStyle1 {font-size: 15px;padding: 8px 10px 0 10px;font-weight: 400;}
.portletContentStyle1 {font-size: 12px;padding: 0 10px;font-weight: 100;}
.portletContentStyle2 {font-size: 25px;padding: 0 10px;font-weight: 500;margin-top: -3px;margin-bottom: -2px;}

.portletStyle2{height: 40px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}
.portletColStyle2{margin-left: 45px;text-align: left;}
.portletIconStyle2 {height: 100%;padding: 8px 0;font-size: 25px;width: 40px;text-align: center;}
.portletHeaderStyle2 {font-weight: bold;text-transform: uppercase;}

.graphLabelStyle1 {height: 25px !important; font-size: 15px !important;min-height: 0 !important;}
.graphHeaderStyleRed {border-top: 5px solid #ff6b6b;border-bottom: 1px solid #d6d6d6;}
.graphHeaderStyleGreen {border-top: 5px solid #6bc801;border-bottom: 1px solid #d6d6d6;}
.graphHeaderStyleYellow {border-top: 5px solid #f8cb00;border-bottom: 1px solid #d6d6d6;}
.graphHeaderStyleBlue {border-top: 5px solid #65c3df;border-bottom: 1px solid #d6d6d6;}
.graphHeaderStylePurple {border-top: 5px solid #9c27b0;border-bottom: 1px solid #d6d6d6;}

.graphContentStyle1 {font-size: 12px;padding: 0 10px;font-weight: 100;text-align: center;}
.graphContentStyle2 {font-size: 35px;font-weight: 500;text-align: center;margin-bottom: -5px;margin-top: -10px;}

.percentBar {height: 8px;background: #eaeaea;border-radius: 5px;overflow: hidden;}
.percentBarValue {height: 8px;border-radius: 5px;}

.infoLabel {width: 85px;padding: 2px 0 2px 12px;border-radius: 15px 0 0 15px;font-size: 12px;font-weight: 100;}
.infoText {margin-left: 84px;border-left: 1px solid #d8d8d8;padding-left: 10px;padding-bottom: 15px;min-height: 35px;}

.editInput {border-left: 2px solid #d16ae2 !important;padding-left: 5px !important;font-size: 14px !important;}

.titleLabelStyle1 {padding: 0 10px !important}

.tn {
    min-width: 40px !important;
    min-height: 40px !important;
}

.tnUser {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    min-width: 60px !important;
    min-height: 60px !important;   
}
.tnUser2 {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    min-width: 40px !important;
    min-height: 40px !important;
}

.item-md ion-thumbnail {min-width: 60px !important;min-height: 60px !important;}

.tnUserRow {border-bottom: 2px solid #efefef;}

.hdIcon {color: #c8c8c8;font-size: 150px;margin: 10px;transition: all 0.3s ease;}

.cb1:hover > .hd > .hdIcon {font-size: 170px;color: #f53d3d;margin: 0px;}

.cardBox {
    width: calc(20% - 20px);
    float: left;
    margin: 10px !important;
    cursor: pointer;
    box-shadow: none;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    min-height: 230px;
}

.hd {text-align: center;}

.cbTitle {font-size: 22px;text-align: center;color: #aaa;margin-top: -30px;}

.searchbar-md .searchbar-input {
    color: #888 !important;
    background-color: #f9f9f9 !important;
    box-shadow: inset 0 0px 8px 0 rgba(0, 0, 0, 0.05), inset 0 1px 1px -2px rgba(0, 0, 0, 0.05), inset 0 1px 5px 0 rgba(0, 0, 0, 0.05) !important;
    border: 1px solid #e0e0e0;
}

.loginBar {
    color: #888 !important;
    background-color: #f9f9f9 !important;
    box-shadow: inset 0 0px 8px 0 rgba(0, 0, 0, 0.05), inset 0 1px 1px -2px rgba(0, 0, 0, 0.05), inset 0 1px 5px 0 rgba(0, 0, 0, 0.05) !important;
    border: 1px solid #e0e0e0;
}

.reconStatus {
    margin-left: 10px;
    font-size: 25px;}

.reconReportCard {
    float: right;
    width: 200px;
    margin: 0 10px 0 0;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #bbbbbb;}

.reconReportCardHeader {
    padding: 10px 10px 0 10px;
    font-size: 13px;
    text-align: center;}

.reconReportCardContent {
    font-size: 25px;
    font-weight: 100;
    color: green;
    text-align: center;
    padding: 0 10px !important;}

.reconReportCardLeft {
    float: left;
    width: 50px;
    height: 100%;
    font-size: 25px;
    padding: 15px 0;
    text-align: center;
    color: #bbbbbb;}

.reconReportCardRight {
    margin-left: 50px;
}
.reconReportInfoRow {
    display: table;
    width: 100%;
}
.reconReportIcon {
    float: left;
}
.reconReportValue {
    margin-left: 25px;
}

@media screen and (max-width: 400px) {

    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10 {width: 100% !important;}
    .cb1, .cb2, .cb3, .cb4, .cb5, .cb6, .cb7, .cb8, .cb9, .cb10 {width: calc(100% - 20px) !important;}
    .fb1, .fb2, .fb3, .fb4, .fb5, .fb6, .fb7, .fb8, .fb9, .fb10 {width: calc(100% - 20px) !important;}
}