page-landing-v2 {

}

.logoSize {width: 120px;}

.menuButton {    
    border-bottom: 1px solid #dedede !important;
    font-size: 13px !important;
    font-weight: 100 !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    }
    
.menuButton:hover {
    background: rgba(0, 0, 0, 0.1);
}

.content-md {
    background-color: #f6f6f6 !important;
}

.pgTitle {
    margin-bottom: 10px;
}
.col1 {float: left;width: 10%;}
.col2 {float: left;width: 20%;}
.col3 {float: left;width: 30%;}
.col4 {float: left;width: 40%;}
.col5 {float: left;width: 50%;}
.col6 {float: left;width: 60%;}
.col7 {float: left;width: 70%;}
.col8 {float: left;width: 80%;}
.col9 {float: left;width: 90%;}
.col100 {float: left;width: 100%;}

.cb1 {width: calc(10% - 20px);float:left; margin:10px !important;}
.cb2 {width: calc(20% - 20px);float:left; margin:10px !important;}
.cb3 {width: calc(30% - 20px);float:left; margin:10px !important;}
.cb4 {width: calc(40% - 20px);float:left; margin:10px !important;}
.cb5 {width: calc(50% - 20px);float:left; margin:10px !important;}
.cb6 {width: calc(60% - 20px);float:left; margin:10px !important;}
.cb7 {width: calc(70% - 20px);float:left; margin:10px !important;}
.cb8 {width: calc(80% - 20px);float:left; margin:10px !important;}
.cb9 {width: calc(90% - 20px);float:left; margin:10px !important;}
.cb10 {width: calc(100% - 20px);float:left; margin:10px !important;}

.bgColor-white {background: #fff;}
.bgColor-lightGrey {background: #f6f6f6;}
.bgColor-lightblue {background: #a6bed2;}
.bgColor-red {background: #ff6b6b; color: #fff;}
.bgColor-purple {background: #9c27b0; color: #fff;}
.bgColor-green {background: #45b7af; color: #fff;}
.bgColor-grey {background: #9aa8b3;border-color:  #adadad;}
.bgColor-yellow {background: #f8cb00; color: #fff;}
.bgColor-blue {background: #65c3df; color: #fff;}
.bgColor-darkBlue {background: #31333c; color: #fff;}

.fontColor-white {color: #fff !important;}
.fontColor-grey {color: #9c9b9b !important;}
.fontColor-dark {color: #717171 !important;}
.fontColor-red {color: #ff6b6b !important;}
.fontColor-green {color: #45b7af !important;}
.fontColor-yellow {color: #f8cb00 !important;}
.fontColor-blue {color: #65c3df !important;}
.fontColor-purple {color: #9c27b0 !important;}

.fullHeight {height: 100%;}
.fullWidth {width: 100%;}

.posFixed {position: fixed;}
.posRelative {position: relative;}
.posAbsolute {position: absolute;}

.floatRight {float: right !important;}
.floatLeft {float: left !important;}

.textLeft {text-align: left;}
.textRight {text-align: right;}

.leftZero {left: 0;}
.topZero {top: 0;}
.rightZero {right: 0;}
.bottomZero {bottom: 0;}

.headerColor-lightred {background: #fe8660 !important; border-color: #da572d !important; color: white !important;}
.headerColor-lightblue {background: #56bdde !important; border-color: #2583a0 !important; color: white !important;}
.headerColor-lightpurple {background: #c21fde !important; border-color: #7350af !important; color: white !important;}
.headerColor-lightgreen {background: #6dc9be !important; border-color: #2b9286 !important; color: white !important;}
.headerColor-green {background: #8bc34a !important; border-color: #4caf50 !important; color: white !important;}
.headerColor-white {background: #ffffff !important; border-color: #e8e8e8 !important; color: #a5a3a3 !important;}

.marginZero {margin: 0 !important;}
.paddingZero {padding: 0 !important;}

.icTitle {border-bottom: 1px solid;margin-bottom: 10px;padding: 10px !important;}

.icHeaderIcon {height: 100%;padding: 10px;}

.icHeaderText {margin-left: 40px; font-size: 15px;}

.btnStyle1 {box-shadow: none;border: 1px solid;border-radius: 3px;font-size: 13px;}

.portletStyle1{height: 70px;}
.portletColStyle1{margin-left: 65px;}
.portletIconStyle1 {height: 100%;padding: 16px 0;font-size: 35px;width: 65px;text-align: center;}
.portletHeaderStyle1 {font-size: 15px;padding: 8px 10px 0 10px;font-weight: 400;}
.portletContentStyle1 {font-size: 12px;padding: 0 10px;font-weight: 100;}
.portletContentStyle2 {font-size: 25px;padding: 0 10px;font-weight: 500;margin-top: -3px;margin-bottom: -2px;}

.graphLabelStyle1 {height: 25px !important; font-size: 15px !important;min-height: 0 !important;}
.graphHeaderStyleRed {border-top: 5px solid #ff6b6b;border-bottom: 1px solid #d6d6d6;}
.graphHeaderStyleGreen {border-top: 5px solid #45b7af;border-bottom: 1px solid #d6d6d6;}
.graphContentStyle1 {font-size: 12px;padding: 0 10px;font-weight: 100;text-align: center;}
.graphContentStyle2 {font-size: 35px;font-weight: 500;text-align: center;margin-bottom: -5px;margin-top: -10px;}

.percentBar {height: 8px;background: #eaeaea;border-radius: 5px;overflow: hidden;}
.percentBarValue {height: 8px;border-radius: 5px;}

.infoLabel {
    width: 85px;
    padding: 2px 0 2px 12px;
    border-radius: 15px 0 0 15px;
    font-size: 12px;
    font-weight: 100;
}

.infoText {
    margin-left: 84px;
    border-left: 1px solid #d8d8d8;
    padding-left: 10px;
    padding-bottom: 15px;
}

.editInput {
    border-left: 2px solid #d16ae2 !important;
    padding-left: 5px !important;
    font-size: 14px !important;
}

.tnUser {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    min-width: 60px !important;
    min-height: 60px !important;   
}
.item-md ion-thumbnail {
    min-width: 60px !important;
    min-height: 60px !important;
}

.tnUserRow {border-bottom: 2px solid #efefef;}

.hdIcon {color: #c8c8c8;font-size: 150px;margin: 10px;transition: all 0.3s ease;}

.cb1:hover > .hd > .hdIcon {font-size: 170px;color: #f53d3d;margin: 0px;}

.cardBox {
    width: calc(20% - 20px);
    float: left;
    margin: 10px !important;
    cursor: pointer;
    box-shadow: none;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    min-height: 230px;
}

.hd {text-align: center;}

.cbTitle {font-size: 22px;text-align: center;color: #aaa;margin-top: -30px;}
