page-landing-v2 {

}
page-landing-v2 .content-md {
    background-color: #f6f6f6 !important;
}

page-landing-v2 .pgTitle {
    margin-bottom: 10px;
}
page-landing-v2 .col1 {float: left;width: 10%;}
page-landing-v2 .col2 {float: left;width: 20%;}
page-landing-v2 .col3 {float: left;width: 30%;}
page-landing-v2 .col4 {float: left;width: 40%;}
page-landing-v2 .col5 {float: left;width: 50%;}
page-landing-v2 .col6 {float: left;width: 60%;}
page-landing-v2 .col7 {float: left;width: 70%;}
page-landing-v2 .col8 {float: left;width: 80%;}
page-landing-v2 .col9 {float: left;width: 90%;}
page-landing-v2 .col100 {float: left;width: 100%;}

page-landing-v2 .cb1 {width: calc(10% - 20px);float:left; margin:10px !important;}
page-landing-v2 .cb2 {width: calc(20% - 20px);float:left; margin:10px !important;}
page-landing-v2 .cb3 {width: calc(30% - 20px);float:left; margin:10px !important;}
page-landing-v2 .cb4 {width: calc(40% - 20px);float:left; margin:10px !important;}
page-landing-v2 .cb5 {width: calc(50% - 20px);float:left; margin:10px !important;}
page-landing-v2 .cb6 {width: calc(60% - 20px);float:left; margin:10px !important;}
page-landing-v2 .cb7 {width: calc(70% - 20px);float:left; margin:10px !important;}
page-landing-v2 .cb8 {width: calc(80% - 20px);float:left; margin:10px !important;}
page-landing-v2 .cb9 {width: calc(90% - 20px);float:left; margin:10px !important;}
page-landing-v2 .cb10 {width: calc(100% - 20px);float:left; margin:10px !important;}

page-landing-v2 .bgColor-black {background: #e4e4e4;}
page-landing-v2 .bgColor-lightblue {background: #a6bed2;}
page-landing-v2 .bgColor-red {background: #ff6b6b; color: #fff;}
page-landing-v2 .bgColor-purple {background: #9c27b0; color: #fff;}
page-landing-v2 .bgColor-green {background: #45b7af; color: #fff;}
page-landing-v2 .bgColor-grey {background: #9aa8b3;border-color:  #adadad;}
page-landing-v2 .bgColor-yellow {background: #f8cb00; color: #fff;}
page-landing-v2 .bgColor-blue {background: #65c3df; color: #fff;}

page-landing-v2 .fontColor-white {color: #fff !important;}
page-landing-v2 .fontColor-grey {color: #9c9b9b !important;}
page-landing-v2 .fontColor-dark {color: #717171 !important;}
page-landing-v2 .fontColor-red {color: #ff6b6b !important;}
page-landing-v2 .fontColor-green {color: #45b7af !important;}
page-landing-v2 .fontColor-yellow {color: #f8cb00 !important;}
page-landing-v2 .fontColor-blue {color: #65c3df !important;}
page-landing-v2 .fontColor-purple {color: #9c27b0 !important;}

page-landing-v2 .fullHeight {height: 100%;}
page-landing-v2 .fullWidth {width: 100%;}

page-landing-v2 .posFixed {position: fixed;}
page-landing-v2 .posRelative {position: relative;}
page-landing-v2 .posAbsolute {position: absolute;}

page-landing-v2 .floatRight {float: right !important;}
page-landing-v2 .floatLeft {float: left !important;}

page-landing-v2 .leftZero {left: 0;}
page-landing-v2 .topZero {top: 0;}
page-landing-v2 .rightZero {right: 0;}
page-landing-v2 .bottomZero {bottom: 0;}

page-landing-v2 .headerColor-lightred {background: #fe8660 !important; border-color: #da572d !important; color: white !important;}
page-landing-v2 .headerColor-lightblue {background: #56bdde !important; border-color: #2583a0 !important; color: white !important;}
page-landing-v2 .headerColor-lightpurple {background: #c21fde !important; border-color: #7350af !important; color: white !important;}
page-landing-v2 .headerColor-lightgreen {background: #6dc9be !important; border-color: #2b9286 !important; color: white !important;}
page-landing-v2 .headerColor-green {background: #8bc34a !important; border-color: #4caf50 !important; color: white !important;}
page-landing-v2 .headerColor-white {background: #ffffff !important; border-color: #e8e8e8 !important; color: #a5a3a3 !important;}

page-landing-v2 .icTitle {border-bottom: 1px solid;margin-bottom: 10px;padding: 10px !important;}

page-landing-v2 .icHeaderIcon {height: 100%;padding: 10px;}

page-landing-v2 .icHeaderText {margin-left: 40px; font-size: 15px;}

page-landing-v2 .btnStyle1 {box-shadow: none;border: 1px solid;border-radius: 3px;font-size: 13px;}

page-landing-v2 .portletStyle1{height: 70px;}
page-landing-v2 .portletColStyle1{margin-left: 65px;}
page-landing-v2 .portletIconStyle1 {height: 100%;padding: 20px 20px;font-size: 30px;}
page-landing-v2 .portletHeaderStyle1 {font-size: 15px;padding: 8px 10px 0 10px;font-weight: 400;}
page-landing-v2 .portletContentStyle1 {font-size: 12px;padding: 0 10px;font-weight: 100;}
page-landing-v2 .portletContentStyle2 {font-size: 25px;padding: 0 10px;font-weight: 500;margin-top: -3px;margin-bottom: -2px;}

page-landing-v2 .graphLabelStyle1 {height: 25px !important; font-size: 15px !important;min-height: 0 !important;}
page-landing-v2 .graphHeaderStyleRed {border-top: 5px solid #ff6b6b;border-bottom: 1px solid #d6d6d6;}
page-landing-v2 .graphContentStyle1 {font-size: 12px;padding: 0 10px;font-weight: 100;text-align: center;}
page-landing-v2 .graphContentStyle2 {font-size: 35px;font-weight: 500;text-align: center;}

page-landing-v2 .infoLabel {
    width: 85px;
    padding: 2px 0 2px 12px;
    border-radius: 15px 0 0 15px;
    font-size: 12px;
    font-weight: 100;
}

page-landing-v2 .infoText {
    margin-left: 84px;
    border-left: 1px solid #d8d8d8;
    padding-left: 10px;
    padding-bottom: 15px;
}

page-landing-v2 .editInput {
    border-left: 2px solid #d16ae2 !important;
    padding-left: 5px !important;
    font-size: 14px !important;
}

page-landing-v2 .tnUser {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    min-width: 60px !important;
    min-height: 60px !important;   
}
page-landing-v2 .item-md ion-thumbnail {
    min-width: 60px !important;
    min-height: 60px !important;
}
page-landing-v2 .tnUserRow {
    border-bottom: 2px solid #efefef;
}

page-landing-v2 .cardBox {
    border-radius: 5px !important;
    border: 1px solid #b1cbe0 !important;
    box-shadow: none !important;
}
