
<ion-content>   
  <ion-card class="fullWidth graphHeaderStyleRed fontColor-dark">

        <ion-row class="reportItemRow2" *ngFor="let item of posts1; let j=index">

          <!-- <div class="col3"> -->
            <ion-item class="tnUserRow">
              <!-- <ion-icon name="ios-checkmark-circle" *ngIf="(item.unload_count/item.load_count)*100 >=20" item-start class="fontColor-blue"></ion-icon> -->
              <ion-icon name="ios-checkmark-circle" *ngIf="(item.unload_count/item.load_count)*100 <=50" item-start class="fontColor-red"></ion-icon>
              <ion-icon name="ios-checkmark-circle" *ngIf="(item.unload_count/item.load_count)*100 >=90" item-start class="fontColor-green"></ion-icon>
              
              <div>
                <div class="reconReportInfoRow">
                  <div class="reconReportIcon">
                    <!-- <ion-icon item-start name="ios-pin" class="fontColor-green marginZero"></ion-icon> -->
                  </div>
                  <div class="reconReportValue fontColor-grey">{{item.Vehicle}}</div>
                </div>
                <!-- <div class="reconReportInfoRow">
                  <div class="reconReportIcon">
                    <ion-icon item-start name="ios-home" class="fontColor-yellow marginZero"></ion-icon>
                  </div>
                  <div class="reconReportValue fontColor-grey">N/A</div>
                </div> -->
              </div>
            </ion-item>

          <!-- </div> -->

          <!-- <div class="col7"> -->

            <div class="reconReportCardUnload">
              <div class="reconReportCardLeft bgColor-red fontColor-white">
                <ion-icon item-start name="md-log-in" class="marginZero paddingZero"></ion-icon>
              </div>
              <div class="reconReportCardRight">
                <ion-card-header class="reconReportCardHeader">
                  {{item.unbunch_ts | date: 'dd/MM/yyyy'}}
                </ion-card-header>
                <ion-card-content class="reconReportCardContent fontColor-red">
                  {{item.unload_count}}
                </ion-card-content>
              </div>
            </div>

            <div class="reconReportCardLoad">
              <div class="reconReportCardLeft bgColor-green fontColor-white">
                <ion-icon item-start name="ios-basket-outline" class="marginZero paddingZero"></ion-icon>
              </div>
              <div class="reconReportCardRight">
                <ion-card-header class="reconReportCardHeader">
                  {{item.bunch_ts | date: 'dd/MM/yyyy'}}
                </ion-card-header>
                <ion-card-content class="reconReportCardContent fontColor-green">
                  {{item.load_count}}
                </ion-card-content>
              </div>
            </div>

          <!-- </div> -->

        </ion-row>

    <!-- <ion-item class="bgColor-lightGrey">
      <ion-row>
        <ion-col col-1>No</ion-col>
        <ion-col col-2>Vehicle No</ion-col>
        <ion-col col-2>Load Qty</ion-col>
        <ion-col col-2>Load Time</ion-col>
        <ion-col col-2>Unload Qty</ion-col>
        <ion-col col-2>Unload Time</ion-col>
        <ion-col col-1>Status</ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row *ngFor="let item of posts1; let j=index">
        <ion-col col-1>
          <ion-badge class="bgColor-red" item-start>{{ j + 1 }}</ion-badge>
        </ion-col>
        <ion-col col-2>{{item.Vehicle}}</ion-col>
        <ion-col col-2>{{item.load_count}}</ion-col>
        <ion-col col-2>{{item.bunch_ts}}</ion-col>
        <ion-col col-2>{{item.unload_count}}</ion-col>
        <ion-col col-2>{{item.unbunch_ts}}</ion-col>
                
        <ion-col col-1 *ngIf="(item.unload_count/item.load_count)*100 >=20">
          <ion-icon name="ios-checkmark-circle" item-start class="fontColor-blue"></ion-icon>
        </ion-col>
        <ion-col col-1 *ngIf="(item.unload_count/item.load_count)*100 <=50">
          <ion-icon name="ios-checkmark-circle" item-start class="fontColor-red"></ion-icon>
        </ion-col>
        <ion-col col-1 *ngIf="(item.unload_count/item.load_count)*100 >=90">
          <ion-icon name="ios-checkmark-circle" item-start class="fontColor-green"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-item> -->

  </ion-card>
</ion-content>
