<ion-content padding class="contentMarginTop">

  <div class="col33">
    <ion-card>
      <ion-row>
        <ion-card-header class="fullWidth graphHeaderStyleGreen fontColor-dark posRelative">
          harvested

          <div class="fontColor-grey btnStyle3 paddingZero marginZero" (click)="harvestlist()">
            <ion-icon name="ios-list"></ion-icon>
          </div>

          <!--<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>-->
        </ion-card-header>

      </ion-row>
      <ion-item class="bgColor-lightGrey">
        <ion-label>Location</ion-label>
        <ion-label class="textRight" item-end>bunches</ion-label>
      </ion-item>
      <ion-item class="reportItemRow"  *ngFor="let harvestreport of harvestreports |  slice:0:2">
        <!--<ion-badge class="bgColor-green" item-start>1</ion-badge>-->
        <ion-label>{{harvestreport.name}},{{harvestreport.created_ts|date:"dd/MM/yy"}}</ion-label>
        <ion-badge item-end class="bgColor-white fontColor-grey reportLabelValue">{{harvestreport.bunch_count}}</ion-badge>
      </ion-item>
    </ion-card>
  </div>

  <div class="col33">
    <ion-card>
      <ion-row>
        <ion-card-header class="fullWidth graphHeaderStyleGreen fontColor-dark posRelative">
          Mandor

          <div class="fontColor-grey btnStyle3 paddingZero marginZero" (click)="mandorlist()">
            <ion-icon name="ios-list"></ion-icon>
          </div>

          <!--<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>-->
        </ion-card-header>
      </ion-row>
      <ion-item class="bgColor-lightGrey">
        <ion-label>Mandor</ion-label>
        <ion-label class="textRight" item-end>Lorry</ion-label>
        <ion-label class="textRight" item-end>Bunches</ion-label>
      </ion-item>
      <ion-item class="reportItemRow" *ngFor="let mandorreport of mandorreports |  slice:0:9">
        <!--<ion-badge class="bgColor-red" item-start>1</ion-badge>-->
        <ion-label item-start>{{mandorreport.mandor}}</ion-label>
        <ion-label item-end>{{mandorreport.lorry}}</ion-label>
        <ion-badge item-end class="bgColor-white fontColor-grey reportLabelValue">{{mandorreport.bunch_count}}</ion-badge>
      </ion-item>
    </ion-card>
  </div>

  <div class="col33">
    <ion-card>
      <ion-row>
        <ion-card-header class="fullWidth graphHeaderStyleGreen fontColor-dark posRelative">
          Factory

          <div class="fontColor-grey btnStyle3 paddingZero marginZero" (click)="factorylist()">
            <ion-icon name="ios-list"></ion-icon>
          </div>

          <!--<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>-->
        </ion-card-header>
      </ion-row>
      <ion-item class="bgColor-lightGrey">
        <ion-label>Lorry</ion-label>
        <ion-label class="textRight" item-end>Location</ion-label>
        <ion-label class="textRight" item-end>Bunches</ion-label>
      </ion-item>
      <ion-item class="reportItemRow"  *ngFor="let factoryreport of factoryreports |  slice:0:9">
        <!--<ion-badge class="bgColor-red" item-start>1</ion-badge>-->
        <ion-label item-start>{{factoryreport.lorry}}</ion-label>
        <ion-label item-end>{{factoryreport.location}}</ion-label>
        <ion-badge item-end class="bgColor-white fontColor-grey reportLabelValue">{{factoryreport.bunch_count}}</ion-badge>
      </ion-item>
    </ion-card>
  </div>

  <div class="col10">
    <ion-card>
      <ion-row>
        <ion-card-header class="fullWidth graphHeaderStyleRed fontColor-dark">
          Reconciliation Reports
        </ion-card-header>
      </ion-row>
      <ion-item class="bgColor-lightGrey">
        <ion-label>Lorry</ion-label>
        <ion-label class="textRight" item-end>Location</ion-label>
        <ion-label class="textRight" item-end>Bunches</ion-label>
      </ion-item>
      <ion-item>
        <ion-badge class="bgColor-red" item-start>1</ion-badge>
        <ion-label item-start>Kumar</ion-label>
        <ion-label item-end>BNF1234</ion-label>
        <ion-badge item-end class="bgColor-yellow">652</ion-badge>
      </ion-item>
      <ion-item>
        <ion-badge class="bgColor-red" item-start>2</ion-badge>
        <ion-label item-start>Firdaus</ion-label>
        <ion-label item-end>BNF1234</ion-label>
        <ion-badge item-end class="bgColor-yellow">123</ion-badge>
      </ion-item>
      <ion-item>
        <ion-badge class="bgColor-red" item-start>3</ion-badge>
        <ion-label item-start>Bala</ion-label>
        <ion-label item-end>BNF1234</ion-label>
        <ion-badge item-end class="bgColor-yellow">552</ion-badge>
      </ion-item>
      <ion-item>
        <ion-badge class="bgColor-red" item-start>4</ion-badge>
        <ion-label item-start>Khairul</ion-label>
        <ion-label item-end>BNF1234</ion-label>
        <ion-badge item-end class="bgColor-yellow">123</ion-badge>
      </ion-item>
      <ion-item>
        <ion-badge class="bgColor-red" item-start>5</ion-badge>
        <ion-label item-start>Allan</ion-label>
        <ion-label item-end>BNF1234</ion-label>
        <ion-badge item-end class="bgColor-yellow">552</ion-badge>
      </ion-item>

      <ion-item>
        <button ion-button class="bgColor-grey fontColor-white btnStyle1">View All</button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>